[2020-11-12 07:25] CookieJarApps commented on #165
Is "Enable cookies in private mode" not greyed out for you?

[2020-11-12 10:33] murkom commented on #165
Sorry about that one. I'm always testing stuff. Yes it is greyed out.
"block 3rd party cookies" option will be removed? Most, if not all decent browsers i know have that option.

[2020-11-12 11:20] murkom opened #166 "Some issues and questions"
1. Hosts file source
I use a custom url. How is it updated? Automatically, or must i refresh manually from time to time?

2. Restore tabs on crash
Usually browser doesn't restore tabs to last state, but for a previous one

3. Prefer https version
How does it work? Ex: whoismydns.com opens http version, not https one. Is browser issue or their site issue?

4. Allow sites to open new windows
Crashes

[2020-11-12 13:37] snp42 commented on #166
Crashes browser. I use duckduckgo with open in new tab enabled. It always crashes if allow new windows is enabled

[2020-11-12 17:32] CookieJarApps commented on #165
I'll probably keep that setting then. Some of the settings have stopped working due to WebView updates (e.g. text reflow) but I just checked the disable 3rd party cookies options and it seems to be working again.

[2020-11-12 17:42] lionead opened #167 "Cookie editing feature in settings"
Browser name definitely needs this feature. I'm just searching right now for a browser with cookie editing, but there's no solutions at all - hope you can make it rly cookie browser :D

[2020-11-12 17:59] CookieJarApps commented on #166
For 1), you need to manually refresh. I can add an option to auto refresh when the app is launched though.

2) This will be included in the update this weekend

3) The way this currently works is the browser sends a request in the background to the HTTPS site URL and if the connection is successful, it redirects you. I added this quite a while ago so there might be some issues that have arisen bec

[2020-11-12 18:00] CookieJarApps commented on #167
No problem, thanks for the suggestion :) - I'll include this in the update this weekend.

[2020-11-12 18:21] murkom commented on #166
1. Auto refresh once in a while would be great. Maybe once a week? Everytime browser opens seems overkill. But it's your call

2. Great

3. Not a big deal, at least for me. But i noticed it

4. If i disable "remove identifying headers" and enable "allow sites to open new windows", duckduckgo opens them. Didn't try more sites but i suppose they will all open

5. Fdroid version 9.3.1. It is the late

[2020-11-12 18:30] lionead commented on #167
ty

[2020-11-12 18:30] #167 closed

[2020-11-12 18:52] CookieJarApps commented on #166
Sorry about the download crash, version 9.3.1 has an issue but in theory 9.3.3 (the fixed version) should be available in a day or so (there was an issue stopping the F-Droid build which has been fixed now).

[2020-11-13 12:22] snp42 commented on #145
Here is another one that maybe fits better to the style of your homepage  :wink:
![scwi](https://user-images.githubusercontent.com/73364620/99071140-d9e47800-25b1-11eb-8a44-1074a36b704f.png)
[scwi.zip](https://github.com/CookieJarApps/SmartCookieWeb/files/5536689/scwi.zip)

[2020-11-13 12:55] urfausto commented on #55
@CookieJarApps i have improved this one.

[2020-11-13 13:21] urfausto commented on #145
i absolutely vote for this one.

[2020-11-13 13:22] urfausto commented on #145
i absolutely vote for the first one

[2020-11-13 16:03] CookieJarApps commented on #55
Thank you :)

[2020-11-13 16:06] CookieJarApps commented on #145
Thank you :) I really like these, I'll do voting round 2 this weekend.

[2020-11-13 17:35] CookieJarApps opened #168 "Icon Voting Round 2"
The second and final round of icon voting. Please note that all of the different icons will be available as options when you download the app, the voting is for the default icon on F-Droid, GitHub and Google Play.

<img src="https://storeimg.com/files/hohayu.png" />

Thanks to @snp42 for icons 2-5 - they're greatly appreciated :)

[2020-11-13 17:35] CookieJarApps commented on #145
#168

[2020-11-13 17:42] CookieJarApps commented on #166
whoismydns.com seems to work correctly for me, can you try http://myshopify.com and see if it redirects to https?

[2020-11-13 17:46] CookieJarApps commented on #131
I'm fixing reflow right now, this weekend's update will fix the setting.

[2020-11-13 17:48] murkom commented on #166
I'm at 9.3.2 (latest on fdroid).
With tor enabled it cannot open (This is an HTTP CONNECT tunnel, not an HTTP proxy.).
With tor disabled if opened http version, not https.
My user agent is "Mobile", btw.

[2020-11-13 17:50] CookieJarApps commented on #166
Oh ok, thanks, in the current version there seems to be a slight delay before the redirect to https, and I think the Tor error appears before the redirect and overrides it. I'll remove that delay and that should fix the issue.

[2020-11-13 17:53] murkom commented on #166
Realme 5 Pro
LineageOS 17.1, without Gapps
Bromite webview

[2020-11-13 17:58] CookieJarApps commented on #166
I'll try on my LineageOS Nexus 5 and see if the error is there too. Thank you :)

[2020-11-13 18:03] murkom commented on #166
If you have some apk to debug issues, i can try. Not always around here, but i can give feedback when i have free time. Fdroid is a little alow with updates.
Also if there was an option to import/export settings, would help. Easier than reconfigure all settings. But not a big deal.

[2020-11-13 18:11] CookieJarApps commented on #166
Thanks for the offer, exporting settings could be a nice feature, I'll definitely look into some way to do it this weekend. I'll let you know when a fixed, partially-stable APK is available.

[2020-11-13 21:26] RickyM7 commented on #168
Even the first-round ones? I want to see how the icon that looks like an atom that was shown in the first round looks on my phone.

[2020-11-13 21:27] RickyM7 commented on #168
@CookieJarApps Even the first-round ones? I want to see how the icon that looks like an atom that was shown in the first round looks on my phone.

[2020-11-13 21:28] CookieJarApps commented on #168
Yes, all of the icons will be available :)

[2020-11-13 21:51] RickyM7 commented on #168
Nice, thank you.

[2020-11-13 22:53] RickyM7 commented on #55
@CookieJarApps It would be great if you created and put the file google_play.xml in Crowdin. Many devs use this so that community can help by translating the title, short description and long description that appears in the Play Store.

[2020-11-14 10:02] CookieJarApps commented on #55
I've done that now - thanks for the suggestion

[2020-11-14 10:49] urfausto commented on #55
emh, can you format my translation? i've put it in crowdin too but the format is not as is on here. argh

[2020-11-14 10:51] CookieJarApps commented on #55
No problem - thanks for contributing

[2020-11-14 11:15] CookieJarApps commented on #167
I've got a basic version of this working - is this the kind of thing you're looking for?

https://storeimg.com/files/hubeha.mp4

[2020-11-14 12:27] CookieJarApps commented on #158
Thanks for the suggestions - I'm adding a new floating menu in v10.0.0 and if I have a bit more time before the release, I'll add an option to individually customise or remove menu options.

[2020-11-14 12:41] RickyM7 commented on #158
Interesting, it's always good to have different customization options. Thank you.

[2020-11-14 16:21] davidj77 commented on #131
Thanks, i'm waiting for the update.

[2020-11-15 12:28] lionead commented on #167
yep

[2020-11-15 15:50] urfausto commented on #168
@CookieJarApps the resourse image is gone...

[2020-11-15 16:11] CookieJarApps commented on #168
Is it still missing?

[2020-11-15 19:18] urfausto commented on #168
yes

[2020-11-15 19:25] CookieJarApps commented on #168
I can see it, but I've changed the link so hopefully everyone should be able to see it now.

[2020-11-15 20:49] snp42 commented on #153
Thanks for the update to v10. The color issue is fixed now :+1: :clap:

[2020-11-15 21:09] RickyM7 opened #169 "[Bug] SmartCookieWeb v10.x Bugs"
### Describe the bug

- [ ] 1. A part of the bottom navbar is overlapped by the floating menu.
![bottom](https://user-images.githubusercontent.com/24703825/103291547-c73fca00-49ca-11eb-86ba-1f73ca34f32f.jpg)

- [ ] 2. The edit shortcuts page on the homepage continues to be hidden by the keyboard depending on the size of the letters or whether text reflow is enabled.
![shortcut hidden](https://user

[2020-11-15 21:18] RickyM7 commented on #158
With the addition of the new floating menu in v10.0.0 I think this issue can be closed. I think with a few improvements in the future the floating menu will be really great.

[2020-11-15 21:18] #158 closed

[2020-11-16 07:35] CookieJarApps commented on #169
For the translation issue, is your phone set to pt-BR?

[2020-11-16 09:42] urfausto commented on #168
i can't see it and if i click on the small image missing icon i get a page with 'Error Fetching Resource'

[2020-11-16 10:03] RickyM7 commented on #169
Yes.

[2020-11-16 10:30] CookieJarApps commented on #169
Ok, I know what's probably wrong there, thanks for the bug reports, I'll release a fixed update this week.

[2020-11-16 10:45] RickyM7 commented on #169
@CookieJarApps Translation extension bugs:

1. Does not detect the language of the phone: In fact the app in general has problems with this, because as seen in #148, the Onboarding page only appears when the app is in English as well.

2. Sometimes does not load the images of the translated site.

3. You can't log in or continue to log in to a translated website: This is an app bug because the sam

[2020-11-16 12:14] CookieJarApps commented on #168
Sorry, I'll fix that now.

[2020-11-16 13:56] davidj77 commented on #131
Text reflow still have bugs.
![Screenshot_2020-11-16-08-54-52](https://user-images.githubusercontent.com/71226185/99260560-8e1c1380-27e9-11eb-88fb-92936f302330.png)

![Screenshot_2020-11-16-08-55-04](https://user-images.githubusercontent.com/71226185/99260585-95dbb800-27e9-11eb-91c0-675295793627.png)

[2020-11-16 14:01] davidj77 commented on #169
It happens sometimes when I click on History.
![Screenshot_2020-11-16-08-57-15](https://user-images.githubusercontent.com/71226185/99261095-40ec7180-27ea-11eb-93e8-0c9dfb5a93ce.png)

[2020-11-16 14:05] urfausto commented on #168
last icon is too anonymous in my opinion and so even 2 and 3

[2020-11-16 15:57] CookieJarApps commented on #169
For the first issue, I think the issue with auto device detection only occurs on languages like pt-BR that have a second part to the language code (I tested French and it seemed to work correctly) - should be pretty easy to fix. I forgot to enable onboarding for all languages after translations were added, all I have to do is whitelist languages with translations for it in the next update.

For th

[2020-11-16 15:58] CookieJarApps commented on #169
Does it happen at any specific times or is it random?

[2020-11-16 16:00] CookieJarApps commented on #131
Yeah, sorry. The Pale Moon forums is a pretty hard page to resize because for some reason changing the width of the page through JavaScript only changes the size of the footer. Can you try https://smartcookieweb.com/reflow.html and check if the text resizes and what the number at the bottom of the page is?

[2020-11-16 16:34] RickyM7 commented on #169
Got it. I tested here and the detection really works in languages without a second part of code, it is great that these problems are nothing too complex.

This sounds very interesting, I don't know how it would work in practice but it's something that gets me very excited to see it working.

[2020-11-17 00:29] davidj77 commented on #169
Blank page on History happens randomly.

[2020-11-17 00:38] davidj77 commented on #131
The page you talk show these images.

![Screenshot_2020-11-16-19-31-38](https://user-images.githubusercontent.com/71226185/99324894-27c3df00-2843-11eb-9440-78df642f4a71.png)
![Screenshot_2020-11-16-19-32-08](https://user-images.githubusercontent.com/71226185/99324938-3ca07280-2843-11eb-9021-1884816f7f1b.png)

![Screenshot_2020-11-16-19-31-52](https://user-images.githubusercontent.com/71226185/9932

[2020-11-17 00:40] davidj77 commented on #131
But when I tried go back to scw home page it happened.

![Screenshot_2020-11-16-19-34-50](https://user-images.githubusercontent.com/71226185/99325089-86895880-2843-11eb-86ef-0cfba4c1d2e6.png)

[2020-11-17 01:03] davidj77 commented on #131
I entered  Wikipedia for testing text reflow but it happened.

![Screenshot_2020-11-16-19-54-28](https://user-images.githubusercontent.com/71226185/99326827-9c4c4d00-2846-11eb-9d7c-326e07df24c6.png)
![Screenshot_2020-11-16-19-54-43](https://user-images.githubusercontent.com/71226185/99326856-aa9a6900-2846-11eb-97fe-c825c0b8312c.png)
![Screenshot_2020-11-16-19-54-52](https://user-images.githubuserc

[2020-11-17 01:11] davidj77 commented on #131
Then I disabled wide viewport and the page got it's original size.

[2020-11-17 01:32] davidj77 commented on #131
Zoom in and zoom out with text reflow disabled.

![Screenshot_2020-11-16-20-30-02](https://user-images.githubusercontent.com/71226185/99328794-d4558f00-284a-11eb-8489-f2178f329da7.png)

![Screenshot_2020-11-16-20-30-06](https://user-images.githubusercontent.com/71226185/99328818-de778d80-284a-11eb-9414-d467b3885bcd.png)

[2020-11-17 01:38] davidj77 commented on #131
https://smartcookieweb.com/reflow.html with text reflow disabled.

![Screenshot_2020-11-16-20-35-22](https://user-images.githubusercontent.com/71226185/99329132-95740900-284b-11eb-9415-445184776a8f.png)

![Screenshot_2020-11-16-20-35-30](https://user-images.githubusercontent.com/71226185/99329157-9e64da80-284b-11eb-9163-2d3853920f1e.png)

![Screenshot_2020-11-16-20-35-37](https://user-images.githu

[2020-11-17 09:34] urfausto commented on #55
wow fantastic, just like that you deleted my new translation for string https://crowdin.com/translate/smartcookieweb/224/en-it#32862

tell me you can restore it... i had updated it and it was not like the one here anymore

@CookieJarApps

[2020-11-17 10:59] CookieJarApps commented on #55
@urfausto

I noticed an issue in the English string, so I updated it and chose the option to keep the translations, but for some reason it removed them anyway. I can't rollback translation overwrites in the activity log for some reason, but I think it's a Crowdin UI bug, so I'm going to email them later and I'm confident that I'll definitely be able to get back the translations. I'm really sorry a

[2020-11-17 12:47] urfausto commented on #55
ok let me know here any news. by the way: is it ok to enter a translation as written in plain text or you need to enter all the brackets?

[2020-11-17 15:46] urfausto opened #170 "2 bugs"
when downloading a file the writings to accept or deny are almost white (on white background).

when disabling wifi refreshing pages cause related tabs to loose their address content and go to about:blank directly

[2020-11-17 16:46] CookieJarApps commented on #169
Have you got "Show extra menu options" / "Show exit button in menu" on? The top shortcuts shouldn't appear when the secondary bar is on.

[2020-11-17 16:50] CookieJarApps commented on #170
I just fixed #1 now in commit 8df70c95e233e650f57bfaccbb485aee312336c6.

I'll release an update fixing #2 later today.

[2020-11-17 16:51] #145 closed

[2020-11-17 17:11] CookieJarApps commented on #55
Plain text is fine, I can add the formatting when I paste into Google Play Console.

[2020-11-17 18:25] RickyM7 commented on #169
No.

The top bar only appears with the bottom bar when you have the bottom bar active and switching to the top bar without leaving the app for the setting to be applied.

[2020-11-17 18:32] CookieJarApps commented on #169
Oh ok sure, thanks. I'll fix the overlap now.

[2020-11-18 06:27] #144 closed

[2020-11-18 18:22] RickyM7 commented on #169
@CookieJarApps Several bugs have been fixed but some still continue (those without strikethrough), Btw the Ongoing page still does not appear in languages other than English.

[2020-11-18 18:55] CookieJarApps commented on #169
I'll make some more improvements in the next update. I completely forgot about the first launch page - thanks for reminding me :)

[2020-11-20 01:55] RickyM7 opened #171 "[Feature] Export/Import Improvements"
### Describe the feature you want

- [x] 1. **[Added in [8ea9d5b](https://github.com/CookieJarApps/SmartCookieWeb/commit/8ea9d5bb3a5fffc221505174426b9d7acd78e41b)]** ~~Export/Import Settings: I know this is already in the issue #53 but I decided to put this here too to have everything related to Export/Import here.~~

- [ ] 2. Merge Export/Import of Settings and Bookmarks: If Export/Import Setting

[2020-11-20 04:49] RickyM7 opened #172 "Some Ideas"
- [x] ~~**1. Priority Labels**: With the increase of bugs/features requests in repo, I think having priority labels would be a very useful thing to know where to start working. It would look something like this:~~

- ~~**Very-High Priority (P0)**: Something that must be resolved as soon as possible (security and build failures fits here, i think).~~

- ~~**High Priority (P1)**: Features that can g

[2020-11-20 16:30] CookieJarApps commented on #167
Should be on Google Play now as V10.0.0

[2020-11-20 19:33] CookieJarApps commented on #172
Thanks - that'd definitely make it much easier to manage issues.

I'll also probably start doing beta releases every week or so (with a different package name) and then monthly main updates.

[2020-11-20 20:19] RickyM7 commented on #172
Nice, so if priority labels are added, I'll be more careful when creating issues because if bundles of features requests and/or bugs from different contexts are added in the same issue it is difficult to classify the priority. I recommend that you add to the bug/feature request templates the info that if you put several bugs/features requests in the same issue, put only those that are part of the

[2020-11-21 16:53] CookieJarApps commented on #163
v10.0.0 and v10.0.1 have the right version code, but they don't seem to have been built by F-Droid yet and they haven't been added to the metadata file (only CurrentVersion has been changed) - is there something else that might be stopping the builds?

[2020-11-21 20:22] CookieJarApps commented on #171
Thanks for the suggestions - I'm not 100% sure if passwords are saveable because the storage is handled by Android itself for security, but exporting settings is 90% done and I can definitely add an "Export all" option.

[2020-11-21 20:23] CookieJarApps commented on #170
Sorry that #2 didn't make it into the update, I've been having issues with Android Studio refusing to install the debug app to my device so it's been hard to test things. I'll add it for the next update as I've figured out the issue now.

[2020-11-21 20:58] RickyM7 commented on #171
I think I understand. In any case, it is better not to implement the export / import of passwords if this will cause any privacy or security problem, however small the problem may be.

Nice, thank you.

[2020-11-25 03:10] FLOSSly opened #173 "Requests"
Hello,
I don't have any progamming knowledge so pardon my idiocy if any found.

1. Storage: Whenever I clear everything (cache, web storage etc.) manually, I still see large data accumulated in the app. For example, 1st day it is 20 mb, the next day it is 40 mb that can not be cleared up without clearing the app data which will need to configure the settings again.

2. WebRTC: Is it possible to co

[2020-11-25 13:11] CookieJarApps commented on #173
Thanks for the suggestions - #1 shouldn't be happening as the entire WebView is cleared by the app, but some other people have reported it too so maybe the data is no longer used by WebView but is still stored. Either way, it shouldn't happen so I'll look into what's taking up the space this weekend.

There doesn't seem to be a way to completely turn of WebRTC in WebView, but there might be a way

[2020-11-28 09:44] lionead commented on #167
buut it can't find it

[2020-11-28 09:48] CookieJarApps commented on #167
If you open the bookmark drawer, and click on the list icon with the plus in the top right corner, it should open Page tools where it's the 3rd option from the top.

[2020-11-28 11:32] CookieJarApps commented on #173
#1 should be fixed in 411372aacc865bb4a5a78963f92e32216266cb69 - the next release won't have this bug (seems like WebView was still storing data after it was cleared, the data just wasn't used anymore)

[2020-11-29 11:22] CookieJarApps commented on #163
I just had another look and AutoUpdateMode is none for https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/com.cookiegames.smartcookie.yml - would it be best if I just open a pull request to re-enable it?

[2020-11-29 13:22] CookieJarApps commented on #172
I've added a beta repo at https://github.com/CookieJarApps/SmartCookieWeb-beta where I'll tag an update every week with the latest changes (but also possibly some bugs) - it has a different package name so can be installed in parallel. Thanks for the suggestion!

[2020-11-29 13:52] RickyM7 commented on #172
@CookieJarApps That's great, thank you. A doubt, the possible bugs that we find in beta versions should be reported in this repo or in the repo of beta releases.

[2020-11-29 13:54] CookieJarApps commented on #172
Issues would probably be best here - the only reason the beta releases are in a different repo is so F-Droid doesn't pick them up.

[2020-11-29 13:56] RickyM7 commented on #172
@CookieJarApps Got it. Thank you for the reply.

[2020-11-29 14:19] RickyM7 commented on #169
@CookieJarApps From my tests on v10.1.0-beta1, apparently only bugs 4 and 8 from this list continue.

[2020-11-29 16:08] RickyM7 commented on #169
@CookieJarApps The homepage of incognito mode looks like this in v10.1.0-beta1, in addition the incognito mode takes a long time to open the first time (in fact it has always been so, at least since the v8.x).
![Incongito Mode Bug](https://user-images.githubusercontent.com/24703825/100546936-d48a5d00-3242-11eb-8bd0-71100d229826.jpg)

[2020-11-29 16:21] RickyM7 opened #174 "[Feature Request] Move Tabs"
It would be something very similar to #135, but for the tabs. I think this would be very useful for those who use several tabs simultaneously and want to access some tab more quickly.

[2020-11-29 16:36] CookieJarApps commented on #169
I've just published beta 2, in theory it should fix the incognito homepage

[2020-11-29 16:47] RickyM7 commented on #169
@CookieJarApps I found another bug in v10.1.0-beta1. Importing settings does not work, the message "Could not import bookmarks from file" appears. This bug continues in v10.1.0-beta2 and the incognito mode bug has been fixed in this version.

[2020-11-29 16:55] CookieJarApps commented on #169
When you're exporting the settings, do you have any settings on that aren't just selecting form a drop-down or turning on a switch (e.g. custom site block?) I haven't tested those a lot so they might be causing the issue.

[2020-11-29 17:10] RickyM7 commented on #169
@CookieJarApps My settings, maybe this will help with something.

{blockCookieDialogs=true, thirdParty=true, link2=https://crowdin.com, blackStatusBar=false, suggNum=0, search=7, clearWebStorageExit=true, Theme=1, textsize=4, secondBar=false, link4=https://www.deepl.com/translator, searchSuggestionsChoice=1, link1=https://github.com, ssl=true, startPageTheme=false, textreflow=true, readingTextSize

[2020-11-29 17:25] CookieJarApps commented on #169
Thanks, that did help. It seems like 1) if the backup is named anything other than SettingsExport and then any numbers, and 2) if you have any settings that involve entering text into a field, the import fails. I'll add a fix for text settings as soon as possible in the next beta.

[2020-11-29 17:28] licaon-kter commented on #163
https://gitlab.com/licaon-kter/fdroiddata/-/merge_requests/new/diffs?merge_request%5Bsource_branch%5D=fairemailandsome

[2020-11-29 17:28] #163 closed

[2020-11-30 17:19] CookieJarApps commented on #169
I'm uploading a fixed APK now, but unfortunately I had to correct the export process too so old exports won't fully work. I modified yours to the correct format in case you want to keep it:

{"blockCookieDialogs"="true", "thirdParty"="true", "link2"="https://crowdin.com", "blackStatusBar"="false", "suggNum"="0", "search"="7", "clearWebStorageExit"="true", "Theme"="1", "textsize"="4", "secondBar"="

[2020-11-30 17:36] RickyM7 commented on #169
@CookieJarApps No problem, I can set up the app again, this is also good for me to review my settings. Thank you.

[2020-11-30 18:34] RickyM7 commented on #169
@CookieJarApps The export/import settings are working perfectly now (but the string "File is:" needs to be translatable), and I added two new bugs to the list.

[2020-12-04 16:13] RickyM7 commented on #169
@CookieJarApps If this is implemented, will it be possible to use [DeepL](https://www.deepl.com/translator) as a translation mechanism? This site has no option to translate sites, but your text translation is almost perfect.

[2020-12-05 09:04] CookieJarApps commented on #169
Yeah, DeepL is great, the main issue is that the API is fairly expensive (€5/month + €20/million characters), but I was thinking of storing already translated sentences in a database to cut down on costs so translating a website twice will only cost the price of one translation. I know that doing that isn't allowed with Google Translate, but there doesn't seem to be any restriction on DeepL. I cou

[2020-12-05 13:05] RickyM7 commented on #169
@CookieJarApps I had no notion of DeepL prices as I always used the service for free. If it has a daily character limit, then it doesn't seem very feasible. I do not know how the sentence database would work, but this also has a problem, several words have many different meanings and storing each can be very laborious and leave the database very large (I think).

[2020-12-05 13:40] CookieJarApps commented on #169
Yeah, there's only a fee if you're intergrating the translation into your own application. The database is mainly so that if you reload a page it doesn't all translate again, and if someone else has been to the same page before, the translations are remembered so accuracy should be the same as a normal translation. I'm not too worried about the size at the moment - hosting it should be cheaper tha

[2020-12-05 13:59] RickyM7 commented on #169
@CookieJarApps Got it. I can't wait to test the extension. As always, thank you very much for your amazing work.

[2020-12-05 20:02] nabemono commented on #97
Thank you for still considering this issue.

[2020-12-05 20:04] CookieJarApps commented on #97
After working on text reflow for a bit, I had an idea about this. This is the top feature on the list of things for the next update.

[2020-12-05 20:58] nabemono opened #175 "[Feature Request] Additional shortcuts for physical keyboards"
Hello @CookieJarApps ,

I found that SmartCookieWeb supports some shortcuts for physical keyboard added earlier in the Lightning Browser's project (https://github.com/anthonycr/Lightning-Browser/pull/519):

"Ctrl+t - Open a new tab
Ctrl+w - Closes the current tab
Ctrl+r - Reloads the current tab
Ctrl+q - Closes the browser
Ctrl+Tab - Switch to next tab
Ctrl+Shift+Tab - Switch to previous tab
Searc

[2020-12-05 21:48] CookieJarApps commented on #175
Thanks for the suggestion - especially with Chromebooks having Android app support and Anbox being in a pretty good place on Linux, more keyboard shortcuts would be a great addition

[2020-12-09 16:31] CookieJarApps commented on #174
Ok, so I've got this fully working but I've run into a small issue. When you hold on tabs and bookmarks it opens a menu, so for tabs I moved the menu to a longpress on the tab icon, but I'm worried that people might struggle to find out how to get to the menu from before. For the bookmark drawer, it's easy as I can just add an icon that the drag and drop only works on, but if I used it in the tab

[2020-12-09 16:55] RickyM7 commented on #174
I think that clicking and holding the icon to drag (both tabs and bookmarks) is the best option because it doesn't change the original way to open the menu of these areas and it also avoids possible users confusions.

[2020-12-09 19:43] RickyM7 opened #177 "[Feature] Information Page"
### Describe the feature you want
This would be a page that would show the features and shortcuts of the SCW and also the explanations of the settings (however these explanations may fall below the settings as well, as it is in some of them).
This is something like the onboarding page, maybe even a complement to it.
The difference of this for the onboarding page is that this page can be accessed a

[2020-12-09 20:02] CookieJarApps commented on #174
I'm having some issues trying to get the drag effect to stop when various parts of the tab are grabbed, so at the moment, the text moves the tab and the icon moves the menu, but I'll swap this after the next beta if possible.

[2020-12-09 20:13] RickyM7 commented on #174
Got it. Anyway, here's a [repo](https://github.com/ernestoyaquello/DragDropSwipeRecyclerview) that might help in something.
Note: I'm not a programmer so I don't know if this can really help but I hope so.

[2020-12-10 09:28] CookieJarApps commented on #174
Thanks, that definitely will be helpful. Being able to swipe to close tabs would also possibly be a nice feature.

[2020-12-12 12:18] CookieJarApps commented on #175
I've started adding them, but I noticed a small issue - on my device, Alt + ↑, Alt + ↓ and Alt + S are all reserved by the system (volume up, volume down, and open multitasking, respectively). For now, I've moved them to Ctrl, but is there any other Alt combo you'd prefer or do you think Ctrl is OK?

[2020-12-12 19:53] nabemono commented on #175
Hello @CookieJarApps,
thank you for adding the shortcuts!
I think Ctr is also OK (and also not used by the system on my devices). 👍

[2020-12-13 13:49] RickyM7 commented on #174
@CookieJarApps About v11.0.0-beta4:
Apart from that known bug in bookmarks, everything seems to work well in the drag&drop feature.
I liked the part where I had to click just once on the icon instead of pressing and holding to open the menu. It may cause some weirdness at first but that's normal with any change.
One possibility is to make the click on the icon select the tab/bookmark and open the

[2020-12-13 19:31] davidj77 commented on #131
Hi, beta 4 doesn't fix text reflow bug it happens the same in previous images I send.
Since you changed main menu to material design closing main menu by pressing left side of the screen doesn't works anymore, it freezes the screen and the only way to exit it it's by touching on "X".
![IMG_20201213_142029_785](https://user-images.githubusercontent.com/71226185/102021710-c0208700-3d4f-11eb-9e6d-35d

[2020-12-13 19:32] davidj77 commented on #131
No problem with left menu or bookmarks menu.

[2020-12-13 19:37] CookieJarApps commented on #131
I'll try and get reflow working better for the full release of 11.0

For the dropdown bug, what Android version are you on?

[2020-12-13 20:48] davidj77 commented on #131
I'm on 5.1.1

[2020-12-13 21:36] CookieJarApps commented on #131
Ok, I'm uploading a new beta APK now. If you could try it then that'd be great and hopefully it'll fix the issue. If not, I'll have another look tomorrow.

[2020-12-13 21:51] davidj77 commented on #131
OK, I'm going to try it.

[2020-12-13 22:01] davidj77 commented on #131
Same thing happens, but now if I enter in settings and go back it hides main menu.
![Screenshot_2020-12-13-17-00-05](https://user-images.githubusercontent.com/71226185/102025270-cc630f00-3d64-11eb-8a67-1208828114f0.png)

[2020-12-14 09:46] CookieJarApps commented on #131
Ok, did the issue happen with the previous non-beta release with the new menu? I think it might be an issue with the close animation, so when it tries to play it on older Android versions it causes problems.

[2020-12-14 12:05] davidj77 commented on #131
Yes, the issue happened with previous non beta releases with the new menu. The releases with old menu works fine.

[2020-12-14 12:23] davidj77 commented on #131
9.3.3 works fine. The main menu hides when  I touch on the left side of the screen.

[2020-12-14 12:54] CookieJarApps commented on #131
Ok, I'll try on my Nexus 5 and try and see what's going on.

[2020-12-14 13:05] CookieJarApps commented on #131
I've definitely fixed it this time, I'm going to build an APK now.

[2020-12-14 16:28] davidj77 commented on #131
Thank you so much, beta 6 fixed the bug.
All it's working fine now.
☺

[2020-12-14 21:58] CookieJarApps commented on #131
Good that that's working now :) - I'll move on to working on fixing text reflow

[2020-12-14 22:01] CookieJarApps commented on #174
Translation in Reading Mode should (in theory) work now too - I've also got website translation working, but at the moment it's inconsistent on sites without JQuery, but once that's fixed it should be ready.

[2020-12-14 22:57] RickyM7 commented on #174
@CookieJarApps I tested the v11.0.0-beta6 and the translation in read mode didn't work very well. Most sites have not been translated. Another problem is that it does not have a translation progress dialogue, e.g. "Translating..." and it makes it look like the translation didn't work. About the translation of pages, I do not know if there has been any change, but the same problems continue (you ca

[2020-12-15 09:19] CookieJarApps commented on #174
The translate extension is the same as the previous release for now.

I'll definitely add a loading dialog, but in theory one it's loaded it should work pretty well - I tried with a few Wikipedia pages and the SmartCookieWeb website and it seemed to mostly work. I'm just using it as a test now before I do full site translation so it's a bit easier to see what needs to be added for the full site ve

[2020-12-15 09:51] RickyM7 commented on #174
@CookieJarApps I tested with Wikipedia and the SCW site as well, the SCW site was translated (with some minor errors due to read mode formatting), however the Wikipedia pages did not, perhaps due to large amount of text. I also tested the site https://cookiejarapps.com and only a small part of it was translated. One thing that might be getting in the way is my internet connection which is not very

[2020-12-15 11:00] CookieJarApps commented on #174
Ok, thanks for testing, I see the same issue on those sites - I'm working on some improvements now and I'll let you know when it should be working better.

[2020-12-15 12:10] CookieJarApps commented on #174
Translation should work much better now, but might be a bit slower. Once you've translated a site once it should be almost instant the next time though

[2020-12-15 12:54] RickyM7 commented on #174
@CookieJarApps The translation is really working much better. Sites with little text are quickly translated, however I could not translate any larger sites (such as this [Wikipedia page](https://en.m.wikipedia.org/wiki/Andromeda_Galaxy), I waited almost 4 minutes and it wasn't translated), but I think they would be translated if I waited longer.
Btw, the problems I saw on the site https://cookieja

[2020-12-15 13:33] CookieJarApps commented on #174
I think there's probably some sort of limit on how long the data sent from the app to the server can be - in the next update, I'll move the paragraph splitting into the app from the server. Good to hear that it works properly on smaller sites though.

[2020-12-15 14:51] RickyM7 commented on #45
@CookieJarApps Having "Allow sites to open new windows" enabled when the "Remove identifying HTTP headers" and / or "Request 'Do Not Track'" option is enabled causes crashes when clicking on sites that open new windows.
I don't know if it's a known bug but I thought I'd better report it.

Device: Redmi Note 4 (MIUI 11 - Android 7.0)
App version: v11.0.0-beta6

[2020-12-15 14:54] CookieJarApps commented on #45
Yeah, it's known, but thanks for reporting :) - originally "allow sites to open new windows" was auto-disabled, but someone requested that they could enable both. I'll probably bring back the auto-disable though.

[2020-12-15 14:57] RickyM7 commented on #121
I tested this, including with the bottom navbar enabled and no bugs occurred.
I think this issue can be closed.

Device: Redmi Note 4 (MIUI 11 - Android 7.0)
App version: v11.0.0-beta6

[2020-12-15 15:00] RickyM7 commented on #45
I think this is the best way, at least until a better solution is found.

[2020-12-15 15:05] RickyM7 commented on #138
This was added some time ago and works very well. I think this issue can be closed.

[2020-12-15 15:09] RickyM7 commented on #153
Looks like this has already been fixed (however I can't test this). I think this issue can be closed.

[2020-12-15 15:17] RickyM7 commented on #160
That's already been done. I think this issue can be closed.

[2020-12-15 17:34] snp42 commented on #153
Yes, it can be closed.

[2020-12-15 17:35] #160 closed

[2020-12-15 17:35] #153 closed

[2020-12-15 17:36] #138 closed

[2020-12-16 10:52] RezurrectBodg opened #178 "Reading mode is AMOLED"
I tried to use the reading mode in CookieWeb recently, and there's a problem: compared to Lightning, when I switch to not-so-dark mode, reader mode background becomes AMOLEDish-black, when it should be grey, as bg is everywhere else. #bug

[2020-12-16 10:57] RezurrectBodg commented on #154
@RickyM7, I don't think it's a good policy to remove options; it seems a lot better to just make a switch in quick-menu that switches all options to light mode when activated, and reverts everything back when disabled.

[2020-12-16 11:09] RickyM7 commented on #154
@RezurrectBodg It wouldn't be quite "remove", after all they will be used only in another context. It's more like mixing and hiding options. I apologize if I misspoke, I'm not fluent in English (yet).

[2020-12-16 11:15] RickyM7 commented on #107
@CookieJarApps I just realized a little problem in the translation extension. It is not possible to translate pages into another language other than that selected on the phone, e.g. I can not translate a text into English if my phone is in the Brazilian Portuguese language.

[2020-12-16 11:40] CookieJarApps commented on #107
Yeah, at the moment it assumes the source language is English. I'll fix that now.

[2020-12-16 12:08] CookieJarApps commented on #107
Should be fixed now

[2020-12-17 03:02] RickyM7 opened #179 "[Feature] Fast Scroller on Websites and on Reading Mode"
### Describe the feature you want
 This is something simple but very useful to have in the app in my opinion but I don't know if this is possible to be added, taking into account the screen swipe gestures (access bookmarks/tabs) already existing on SCW.

### Additional context
Here's a [repo](https://github.com/quiph/RecyclerView-FastScroller) that can help you implement this feature if you want t

[2020-12-18 12:02] CookieJarApps commented on #179
Would this be for scrolling down websites or the tab list?

[2020-12-18 12:04] RickyM7 commented on #179
websites.

[2020-12-18 19:07] #172 closed

[2020-12-18 19:14] CookieJarApps commented on #178
Fixed in 7a958baf224bcceba018ee35916b00c59863a913, update coming later today

[2020-12-18 21:27] #109 closed

[2020-12-18 21:27] #108 closed

[2020-12-20 22:54] RickyM7 commented on #169
@CookieJarApps I tested the v11.0.0-rc1 and in addition to the already reported I noticed that pages very loaded with effects (such as the github homepage at the moment) cause lags when trying to enter some page or menu (such as the floating menu or bookmarks page). This also occurs in earlier versions. I tested it on Bromite and it lags too, but not as much as the SCW.
About translation in read m

[2020-12-21 10:44] CookieJarApps commented on #169
I'll try and look at ways to optimise the app animations.

I'll fix the string now.

For large pages, I'm mostly a bit worried that I'll run out of translate credit (I've got ~2 million characters/month). I might change it so that text selected from web pages (in a future release) or reading mode pages (in 11.0.0) shows a 'translate' button above it which translates the text in-place. I'll see wha

[2020-12-21 11:04] RickyM7 commented on #169
This character limit is really complicated, I can't even imagine how fast it will be consumed when the app has more users. Does this limit exist on all translation platforms if they are implemented in an app?
The part of translating the selected text is something very interesting, it would help too much in several cases, especially if this makes the page not need to be reloaded for the translation

[2020-12-21 11:15] CookieJarApps commented on #169
Microsoft has the highest limit that I could find. I go over it's $10/million characters, and I have ~$100 to spend, but yeah as the app grows it might be hard to keep translations below the limit.

I'll look into translating selected text, it might be a good compromise. It might not make it into 11.0.0 as I'd like to release that later today, but should be done fairly soon.

[2020-12-21 11:22] RickyM7 commented on #169
It's a shame that there is no free platform to use.

That's great anyway. Thank you.

[2020-12-22 10:57] #174 closed

[2020-12-23 19:13] RickyM7 commented on #172
@CookieJarApps About beta versions, instead of using a separate repo, I believe that using GitHub Actions is more efficient, see these PR for references.

https://github.com/florisboard/florisboard/pull/92

https://github.com/TeamNewPipe/NewPipe/pull/5132

[2020-12-23 19:16] zpcol opened #185 "[ASK] webview"
what is the most suitable webview for this browser and what version?

[2020-12-24 06:50] marcdw1289 commented on #185
For me on all of my ROMs (where applicable) I use the Bromite webview. Always and regularly kept up to date in line with Bromite browser. This way any webview-based browsers have a current engine.

Best way to install it is to use the standalone NanoDroid Bromite webview installer[1]. It'll replace the default Android webview. Then add the Bromite repo to F-Droid for future updates.

[1]  https://

[2020-12-24 10:52] CookieJarApps commented on #172
Thanks, I already use Travis CI so it shouldn't be too hard to set up actions. I'll do that now.

[2020-12-24 11:00] CookieJarApps commented on #185
On my device, I use the beta track of the default Android WebView to make sure there's nothing new that conflicts with any browser features. The latest Android System WebView version with no issues is 87.0.4280.101

I haven't tested Bromite in a while, and a couple of weeks back someone reported file download issues with it, but if your device is rooted/bootloader unlocked it's definitely more pri

[2020-12-24 15:02] zpcol commented on #185
I've tried both, the problem I encountered is wasteful battery consumption.

[2020-12-24 15:40] CookieJarApps commented on #185
That's odd, what device are you using?

[2020-12-24 15:52] zpcol commented on #185
asus m2 lineageOS.microG android 9

[2020-12-25 11:21] RezurrectBodg commented on #154
Then I didn't understand your meessage

[2020-12-27 14:13] davidj77 opened #187 "[Feature Request] Add more options to page tools menu"
Hi, in order to have more customized settings for each site we visit or we have in bookmarks, you can add options to load or not images, block or not first and third part cookies etc. to page tools menu.
Thank you

[2020-12-27 19:05] CookieJarApps commented on #131
In theory, reflow should be a bit better in 11.0.0 - it's a bit stuttery but once the zoom's done it seems to work correctly.

[2020-12-28 11:57] davidj77 opened #188 "[Feature] Add browsing date to History"
It would be nice if you add to "History" the date we browse, for example we can see the sites we visite ordered by date: today, yesterday, last week etc.
Thank you for your attention.

[2020-12-28 13:51] CookieJarApps commented on #185
Thanks, I'll do some testing on my Nexus 5 with various WebViews to see what might be going on

[2020-12-28 20:27] #73 closed

[2020-12-29 13:43] CookieJarApps commented on #188
Time is already stored in the history database, so it should be just down to adding an extra field to the page and a way to sort.

[2021-01-01 12:17] CookieJarApps commented on #168
Voting has now finished

[2021-01-02 00:37] micwoj92 commented on #105
unstale

[2021-01-02 10:18] CookieJarApps commented on #166
5 (and possibly 6) will be solved by a new built-in download manager in V12 with download pausing, simultaneous downloads and choice of a custom file name when downloading.

[2021-01-02 12:48] CookieJarApps commented on #187
Ok, no problem

[2021-01-02 15:30] CookieJarApps commented on #148
Requests 1 and 2 are nearly done and will be included in the next update:

![Screenshot_20210101-220107.jpg](https://user-images.githubusercontent.com/44752343/103460606-76540c80-4d0f-11eb-90b7-161023303f9d.jpg)

[2021-01-02 16:09] RickyM7 commented on #148
@CookieJarApps That's great, thank you.

[2021-01-02 23:01] davidj77 commented on #131
Reflow works a bit better in 11.0.2
Zoom in
![Screenshot_2021-01-02-17-57-27](https://user-images.githubusercontent.com/71226185/103468168-7579a580-4d24-11eb-931f-628532fa5135.png)
Zoom out
![Screenshot_2021-01-02-17-57-57](https://user-images.githubusercontent.com/71226185/103468176-8cb89300-4d24-11eb-8208-43666a1c5883.png)

[2021-01-08 09:42] RickyM7 opened #190 "[Feature] "Logins/Passwords Save" Improvements"
### Describe the feature you want
Basically the only improvement here would be to save logins made by third-party services, e.g. login to Instagram with Facebook account, login to Crowdin with GitHub account, etc.

[2021-01-08 11:34] RickyM7 opened #191 "[Bug] "Desktop mode" bugs"
### Describe the bug
Basically there are some bugs on some sites when you are using desktop mode. An example of a site where this occurs is GitHub (But only in some parts of the site).
Some of the bugs that occur:
- The site does not change anything when it is in the desktop version.
- The site gets too large but it is not possible to zoom out or move the site sideways.
- etc.

### To Reproduce
St

[2021-01-08 11:40] RickyM7 opened #192 "[Feature] "Links redirection" improvement"
### Describe the feature you want
I think that when it comes to "Handle all clicked links within this browser" it would be much more practical if the app opened all the links on it itself, as well as when this option is enabled, but when pressing and holding on a link would have the option "Open in another app", this option would basically do what happens when we click on a link that can open anot

[2021-01-08 11:42] CookieJarApps commented on #53
Should be added now (as of v11)

[2021-01-08 11:48] RickyM7 opened #193 "[Bug] "Background loading" bug"
### Describe the bug
The pages stop/restarts loading when the SCW is minimized.

### To Reproduce
Steps to reproduce the behavior:
1. Try to open any website
2. Minimize the SCW and reopen it
3. See error

Note: You probably won't be able to see this bug if your connection is too fast.

### Expected behavior
What should happen would be the pages continue to load in the background (when you place t

[2021-01-08 11:57] RickyM7 commented on #148
@CookieJarApps I've made separate issues for each request with different topics so it's easier to manage them.
Also I updated other issues that I had previously opened.

[2021-01-08 12:01] RickyM7 commented on #53
@CookieJarApps In case, this has already been added from the v11.x, so I think this issue can be closed. Btw, a complement to this is present in the issue #171.

[2021-01-08 12:33] #53 closed

[2021-01-10 14:08] CookieJarApps commented on #191
I'll fix this in update v12 with a beta release later today. Thanks for the suggestion!

[2021-01-10 18:40] CookieJarApps commented on #191
Ok, for now DeepL doesn't work as it detects device width in a more advanced way, but the beta update should fix desktop mode for other sites (e.g. GitHub)

[2021-01-10 22:28] RickyM7 commented on #191
@CookieJarApps I just tested v12.0.0-beta 1 and first I would like to congratulate you on your great work, the onboarding page was amazing, the downloads page and the history page were also amazing, but there are some bugs:
1. The downloads and history pages have the header in "white in dark mode
2. It is not possible to remove items from history by the page itself
3. The arrow to return to the pr

[2021-01-11 08:00] zpcol opened #194 "[Feature] Shortener URL on Address Bar (URL Box Content)"
### Describe the feature you want

likes Firefox;
eliminate "https://" to the green padlock icon
eliminate "http://" to the grey padlock icon

[2021-01-11 09:22] CookieJarApps commented on #191
Thanks for the bug reports, I'll look into what might be slowing down the reading page load and I'm going to update the two dark themes to fix some of the issues throughout the app.

[2021-01-11 18:54] RickyM7 opened #195 "[Bug] SmartCookieWeb v12.x bugs"
### Describe the bug
`Downloads` and `History` pages bugs:
- [x] 1. **[Fixed in d0ecf00]** ~~The downloads and history pages have the header in white in dark mode~~
- [x] 2. **[Fixed in 1ac8c9a]** ~~It is not possible to remove items from history by the page itself (This has probably just not been implemented yet)~~
- [x] 3. **[Fixed in 1ac8c9a]** ~~The arrow to return to the previous page does no

[2021-01-11 18:57] RickyM7 commented on #195
@CookieJarApps I created this issue with the bugs reported [here](https://github.com/CookieJarApps/SmartCookieWeb/issues/191#issuecomment-757555190) to make it easier to manage them.

[2021-01-11 19:35] CookieJarApps commented on #195
Thanks, I'll work on fixing these in time for the next beta update next weekend.

[2021-01-13 10:04] RickyM7 commented on #50
Unistale

[2021-01-15 10:28] CookieJarApps commented on #50
I've (finally) fixed the bug on the local copy on my PC, so the next update won't have this bug, but unfortunately my PC stopped working entirely so I'll only be able to commit the fix this weekend.

[2021-01-15 15:28] CookieJarApps commented on #50
Ok, as of cf59574e9c2e5c2a89bd5722169ae7ea826b4d89 when you open a link from another app, the back button works as before, but the close tab button no longer closes the app.

[2021-01-15 15:36] CookieJarApps commented on #192
Would an 'Open in app' menu item (maybe an item in the top bar) work too? That's the way Firefox does it, so when you're on a link you want to open in an app you just press the button.

[2021-01-15 15:43] RickyM7 commented on #192
@CookieJarApps I think so, but would that work for oAuth?

[2021-01-15 15:45] CookieJarApps commented on #192
It should, but just to check, are there any specific sites I could test with?

[2021-01-15 15:48] RickyM7 commented on #192
@CookieJarApps Maybe GitHub, to log in to a client (like the octodroid, for example). I can test this if you want.

[2021-01-15 15:49] CookieJarApps commented on #192
Thanks, I'll try and see if it works correctly.

[2021-01-15 16:42] RickyM7 commented on #50
@CookieJarApps I tested and the app still closes if you use the back button of the phone (and apparently only if the tab has not fully loaded yet), however only in this case the app closes.

Maybe this will help with something (this was generated by LeakCanary:

┬───
│ GC Root: System class
│
├─ com.huxq17.download.DownloadProvider class
│    Leaking: NO (BrowserApp↓ is not leaking and a class is

[2021-01-15 17:08] RickyM7 commented on #50
If this is the expected behavior then it is normal. My test is to share a link from another app to open on scw (in case the scw is left with two tabs open), but I expected that by clicking the back button of the phone the newly opened tab would be closed and the scw would open the tab that was opened first (this is the behavior of when we closed the tab by the close tab button).

[2021-01-15 19:17] CookieJarApps commented on #192
The button is working and correctly hides itself on sites without an app installed - the only issue is OAuth doesn't work fully, but I'm working on a fix now.

[2021-01-15 21:59] RickyM7 commented on #192
@CookieJarApps I just tested the latest debug version and OAuth really doesn't work (you're not redirected to the app that's trying to authenticate).
About the button to redirect to the app: With this button available I believe that the option "Handle all clicked links within this browser" is no longer necessary and maybe you can hide it.

[2021-01-16 09:13] CookieJarApps commented on #192
Ok, I'll try some more OAuth apps to find a better solution.
I might keep the option just in case someone prefers the way it used to work - having it disabled now hides the 'open in app' button and still just directly opens the apps as before.

[2021-01-16 09:26] RickyM7 commented on #192
@CookieJarApps Got it, it really is better that way.

[2021-01-16 15:20] CookieJarApps commented on #193
Thanks for reporting this - can you check if another WebView-based browser such as Lightning Browser or FOSS Browser also has this bug?

[2021-01-16 15:33] RickyM7 commented on #193
@CookieJarApps I just tested FOSS Browser and SWeb and both do not have this bug.

[2021-01-17 10:01] CookieJarApps commented on #161
I could do something like Soul Browser does where there's an arrow to the right of each suggestion that fills it into the field, or I could completely add this too - I'll consider which one would be best and I'll add this ASAP.

[2021-01-17 10:20] RickyM7 commented on #192
@CookieJarApps Would you be able to move the "Open in app" option to above or below the "Share" option? I think that's the best position for that option.

[2021-01-17 10:26] CookieJarApps commented on #192
Sure, I'll do that now.

[2021-01-18 00:22] Rykoo opened #200 "[Feature] Second Navigation Bar - Make Smaller"
For the second navigation bar, can we make it smaller? Since it doesn't disappear when scrolling (can also make this an option), suggestion is to remove the text under the icons. This would reduce the size of the bar.

[2021-01-18 18:24] CookieJarApps commented on #177
I've started working on a website to do this, I'm hoping to get it done in ~2-3 weeks.

[2021-01-18 18:43] RickyM7 commented on #177
@CookieJarApps That's great!

[2021-01-21 18:19] CookieJarApps commented on #177
I've made just a basic draft now: https://smartcookieweb.com/help/public/ - it's still in the early stages but by the end I'll add a page on the keyboard shortcuts and information about what every setting does. It might be useful to move the FAQ to this page, as it's currently hosted by HelpSite and it might be useful to have control of it myself, but I'll see how working on the page goes.

[2021-01-21 18:43] RickyM7 commented on #177
@CookieJarApps Got it! I really liked the style of the site, it's simple and straightforward, which makes the navigation by it quite enjoyable.
Btw, If possible, please add the texts on the site to be translated into Crowdin.

[2021-01-21 19:03] CookieJarApps commented on #177
Thanks for the feedback, at the moment there's no support for translations but I'll make sure that's the next thing I'll work on and then I'll add the text to Crowdin ASAP.

[2021-01-23 20:43] RickyM7 commented on #148
@CookieJarApps The part of confirming the deletion of a download is not yet translatable. You could make these strings translatable before the release of v12? Thank you!
![delete](https://user-images.githubusercontent.com/24703825/105613581-1c8cb280-5da2-11eb-899a-714f09204193.jpg)

[2021-01-23 22:54] CookieJarApps commented on #148
Sorry about that, I'll make sure to make all the remaining strings translatable tomorrow.

[2021-01-23 23:03] RickyM7 commented on #148
Thank you!

[2021-01-24 12:34] RickyM7 commented on #50
@CookieJarApps I was testing the debug build #88 (Android CI #88) and saw a bug related to that issue. To make this bug occur you must:
1. Install the "ApkMirrorButton" UserScript
2. Open a link to any playstore app on SCW
3. Click the "APKMirror" button when it appears
4. When the new tab loads, or even while it is loading click the back button of your phone. This will cause the SCW to close.

[2021-01-24 12:58] CookieJarApps commented on #50
I managed to recreate the bug once, but strangely it stopped happening afterwards. I'll try on some more devices to try and see what might be causing the issue.

[2021-01-24 13:14] RickyM7 commented on #50
@CookieJarApps I just tested the latest debug build (Android CI `#91`) and the bug really isn't happening anymore, it looks like the commit 79f84c9 solved it.

[2021-01-24 15:07] CookieJarApps commented on #50
The issue with the script should be fixed entirely in 1a272ff3936a879d7aaf5c7eabeae9e2d6c9efd0

[2021-01-24 21:50] RickyM7 commented on #50
Sorry for the delay. I just tested v12.0.0-rc1 and the bug still continues.

[2021-01-25 08:43] CookieJarApps commented on #50
Is the ApkMirror tab the only tab or is the play store tab still open?

[2021-01-25 08:59] fracklaus opened #204 "Google Play link broken"
Hi,

the link to Google Play on the github page of SmartCookieWeb is not working, and the application can also not be found by searching the play store for it.
I could only install it via f-droid on all my devices. Please fix.

Thanks!

[2021-01-25 09:07] fracklaus opened #205 "[Bug] SmartCookieWeb crashing on own donation links"
### Describe the bug

SmartCookieWeb crashes when clicking on any of the donation links on https://github.com/CookieJarApps/SmartCookieWeb

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/CookieJarApps/SmartCookieWeb
2. Scroll down to donation links
3. Click on either librepay.com or buymeacoffee.com
4. Browser crashes

### Expected behavior

Links open up successfull

[2021-01-25 09:08] CookieJarApps commented on #204
At the moment, the app is unpublished on Google Play, but I'm going to republish when I release update v12 (as soon as I fix issue #50, hopefully today).

[2021-01-25 09:12] CookieJarApps commented on #205
Some small things to check first - have you got 'Remove Identifying Headers' on in settings, and is 'Android System WebView' up to date on your device?

[2021-01-25 09:42] RickyM7 commented on #50
Still open because by clicking the "APKMirror" button a new tab opens.

[2021-01-25 09:47] fracklaus commented on #205
"Remove Identifying Headers" is off.
I have installed all updates I get from Google Play Store. Thus, Android System WebView should be up to date.
How can I double-check this?

[2021-01-25 09:55] CookieJarApps commented on #205
You can check by searching for 'WebView' on Google Play, clicking the one that's installed, selecting "What's new" and it should show the version under "App info". The first number of the version should be 88.

Also, a 2nd setting that might cause crashes - is "Request Do Not Track" on?

[2021-01-25 12:13] fracklaus commented on #205
it works when I disable "Request Do Not Track".
Thanks for the hint.

[2021-01-25 12:22] CookieJarApps commented on #205
Sorry about the issue, it's a WebView bug, but I'll look for a workaround in time for the next update. Do Not Track can be enabled when "Allow sites to open pages in new windows" is off though.

[2021-01-25 12:22] RickyM7 commented on #50
Looks like the bug was fixed with the 957b87d, but I discovered another bug. To make this new bug occur you must:
1. Go to the extensions settings and click "UserScript store"
2. The dialog to select in which browser to open this will appear, click to open in SCW
3. A new tab will open on SCW. When this tab loads completely or even while it is still loading click the back button of your phone. SCW

[2021-01-25 12:50] CookieJarApps commented on #50
Ok, good that that's fixed now. I might release v12 now, and then fix the 2nd bug with another update at the end of the week, but I'll try and see how easy it might be to fix.

[2021-01-25 13:29] #191 closed

[2021-01-25 14:02] RickyM7 commented on #195
@CookieJarApps In v12.0.0 the "Open with" dialog appears when we try to log in to a site with an account from another site (e.g. try to log into Crowdin with the GitHub account), this with the "Handle all clicked links within this browser" option enabled.

[2021-01-25 15:00] sick13 opened #206 "[Bug] cannot delete default Bookmark"
### Describe the bug

Delete (default) DuckDuckGo bookmark,exit the app, open the app again the bookmark is still present
### To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### Expected behavior

Deleted default bookmark should not come back
### Screenshots

### Device Info
 - Device: [Samsung s10+]
 - OS: [OneUI 3.0 (Android11)

[2021-01-25 15:03] davidj77 commented on #188
Thank you for add this in V12.
👍

[2021-01-25 15:07] CookieJarApps commented on #206
This happens because the bookmark homepage needs a bookmark added to work, if a bookmark is added before the app is closed the DuckDuckGo bookmark won't come back. I'll add this to the list of things to fix for v12.1

[2021-01-25 15:38] CookieJarApps commented on #195
Seems to be because the browser thinks they're OAuth links. I'll fix this in v12.1 later this week.

[2021-01-25 17:47] sick13 commented on #206
ok,now it makes sense...it was driving me crazy
thx for looking into it!

[2021-01-25 23:50] #188 closed

[2021-01-25 23:51] #131 closed

[2021-01-25 23:52] #187 closed

[2021-01-26 10:10] CookieJarApps commented on #204
The Google Play link should now work again, thanks for your patience :)

[2021-01-26 13:34] RezurrectBodg commented on #175
Don't you think Ctrl would  interfere with text selection scenarios? Because I always use Ctrl+Shift+Arrow keys to select text word-by-word...

[2021-01-26 16:46] CookieJarApps commented on #175
Maybe I could do something like Chrome (Ctrl + shift + tab to cycle tabs up the list and ctrl + tab to cycle tabs down). I might also add some fn key shortcuts like F5 for reload and F11 for fullscreen.

[2021-01-27 09:19] #204 closed

[2021-01-27 16:07] Fatcakes opened #207 "Address bar doesn't auto hide when scrolling"
Works for with the address bar at the top.

[2021-01-27 18:36] RickyM7 commented on #207
I think it's a duplicate of #123.

[2021-01-31 09:49] 3j9fkyahunqoxwqu opened #208 "please add an option to export current open tabs"
Hello thank you for your greater I have feature request please add an option so that we can export/share all open tabs.

Something like what new firefox for android have but if it be this type it will be great:

Title of tab
<An empty line>
Url of the tab
<An empty line>
<Sparator(something like this:==============)>
<An empty line>
Title of second tab
.....

This will be really great feature that

[2021-01-31 12:06] CookieJarApps commented on #208
Thanks for the suggestion, I'll try and make sure this is added in update 12.1 today, but if not, 13.0 next weekend / the weekend after. Also, about the crashing issue, are the devices stock Android or are they a specific manufacturer's skin?

[2021-01-31 13:53] CookieJarApps commented on #208
Also, the way the bookmark and setting exports are stored is in JSON - like this:
`{"title":"tabname", "url":"taburl", "index":0}, {"title":"tabname2, "url":"taburl2", "index":1}`
and it might be best to keep it that way for consistency, but if another storage method would be more compatible with other apps, I could implement that too.

[2021-02-01 12:46] OilSubjectLoss7 opened #209 "[Feature] Automatically downloading after clicking the link"
Can you add a tick box somewhere in the setting to turn this thing on?

Like, I don't have to confirm each time I click a file.

[2021-02-01 15:21] #110 closed

[2021-02-02 00:13] RickyM7 commented on #209
This is part of the proposals of issue #148 (third point, in the part of "Don't show again"), but as it is not fully explicit I do not know if this issue should be closed because it is a duplicate or not.

[2021-02-03 12:48] #146 closed

[2021-02-03 14:57] CookieJarApps commented on #72
A very experimental version of this is available at https://github.com/CookieJarApps/SmartCookieWeb/tree/libadblockplus - no releases available yet as there are some critical bugs to fix, but it's coming along nicely.

[2021-02-04 17:45] #113 closed

[2021-02-05 14:19] RickyM7 commented on #123
unstale

[2021-02-06 12:35] imrohitkumar opened #211 "[Feature] Please change homepage and tab switcher styles"
:>Hey, I loved your browser smartcookieweb but it would be much better if you can change the tab switcher like chrome and also change the default homepage style.

[2021-02-06 12:49] CookieJarApps commented on #211
I'm probably going to keep the tab switcher as it is, because lots of people switched from Lightning Browser to this browser due to the same tab system, and I think it sets the browser apart from others, but I understand that some people might not like it so I'm open to adding customization to allow custom tab drawer styles.

Do you have any ideas about how the homepage could be improved? I'm plan

[2021-02-06 14:28] micwoj92 commented on #156
.

[2021-02-07 08:14] imrohitkumar commented on #211
I would really love custom tab switcher option.
You should make home page much like microsoft edge homepage [clean and polished interface] with news feed.

[2021-02-07 09:29] RickyM7 commented on #211
@CookieJarApps Please let anything else be optional because I really like the homepage and tab switcher, these two parts of the app are very simple, practical and efficient which in my opinion is really great. I'm sure some things can be improved (like adding an option to add more shortcuts to the homepage, maybe add a horizontal gesture (drag to right/left) to remove a tab in the tab switcher, et

[2021-02-07 14:11] imrohitkumar commented on #211
@RickyM7 I disagree with you at least in the case of homepage, it gives feeling of a old and ancient time browsers [for reference purpose].

[2021-02-07 14:12] RickyM7 commented on #211
@imrohitkumar No problem, as I said that's just my opinion.

[2021-02-07 16:54] #211 closed

[2021-02-07 23:04] 3j9fkyahunqoxwqu commented on #208
Hello
Thank you very much for your fast answer and explanation.

But what i want is not import and export option

I just want this feature so that i can keep my research sessions in a notepad (that i used to use with mozilla fenix (new firefox for android)

Probably i couldn't explain my request well

If you check firefox for android when you ipen the tab drawer, there is an option to share all ta

[2021-02-08 11:05] CookieJarApps commented on #209
Should be partially added in 2de3aded2464a4b2cd24c324e7a84702f551713a, just no way to get the dialog back at the moment

[2021-02-09 13:28] RickyM7 commented on #192
@CookieJarApps I'm not being able to log in to third-party sites.
I'm trying to log in to WebLate and Crowdin with Github but login is never done. When I click to log in the option to select a browser pops up and when I click on the SCW apparently the page just reloads.
I'm on v12.1.0 but this has been happening since the "Open in App" option was added.

[2021-02-09 13:55] CookieJarApps commented on #192
Sorry about the issue, could you try the debug build for commit ddb1861718c46c32fdebaa932da650179dacee02 once the Action has finished? In theory it should fix the bug.

[2021-02-09 14:40] RickyM7 commented on #192
@CookieJarApps Sorry for the delay, I just tested the latest debug build (Android CI `#154`) and everything worked perfectly.

[2021-02-09 16:07] urfausto opened #213 "translation update"
i have updated **it** language for both app and store but they are not appearing. they'd need a manual update i guess!

[2021-02-09 17:19] CookieJarApps commented on #213
Sorry about that - the Play Store change takes a while because Google takes 2-7 days to approve the changes, but the app string translations should be up to date with each release. Just to confirm, does commit 98321bb0ddf937fc4f62c7c41e2890afbc15b64e add the correct changes?

[2021-02-09 17:20] CookieJarApps commented on #192
Thanks, I'll release an update later today.

[2021-02-09 17:33] CookieJarApps commented on #208
Sure, I can work on adding exporting tabs as a readable list for v13. Thanks for the link to the issue on the other repo, I'll use that as reference when working on the new feature.

[2021-02-09 17:41] urfausto commented on #213
aaaah ok. nevermind. i also made a change today :laughing:

[2021-02-09 17:41] #213 closed

[2021-02-09 23:49] ghost opened #214 "Suggestion To Edit Bookmarks"
Thanks for this app that is ad free. I would like to suggest to make a section to edit bookmarks. I just spent a few minutes trying to figure out how to delete the "DuckDuckGo" bookmark. I probably can't do it again if I tried. Thanks for continuing to improve this very needed open source app.

[2021-02-10 07:19] Jpersh27 opened #215 "[Bug/Feature Requests]- Can't Download Videos"
[Bug]-

• No videos can be downloaded from the following NSFW websites: xhamster.com, pornhub.com, or xvideos.com.

• No option within the browser to long press on a particular video and a pop up appears saying “Save" or ”Download" Video.

• I have the “Smart Cookie Download Manager" turned on under the “Advanced Settings" tab within the browser settings.

[Device information]-

• Smart Cookie Web

[2021-02-10 09:55] CookieJarApps commented on #215
Thanks for the suggestion / bug report. Video downloading is definitely something I'll work on for update v13, and a more traditional adblocker is in development at the branch https://github.com/CookieJarApps/SmartCookieWeb/tree/libadblockplus - I'm hoping to have a beta available for it this week.

[2021-02-10 19:56] Jpersh27 commented on #215
@CookieJarApps You are welcome, and I do have 4 quick questions for you if you have time to answer them please.

1.) Firstly, Is the more traditional Adblocker feature going to be available sometime this week as you stated above? (In Beta Form)

2.) How long before you expect a “update v13" of the browser to be released in Beta?

3.) Do you already have an idea of how you will improve the download

[2021-02-11 04:33] Rytt5 opened #216 "Bottom Nav Bar - Remove Text & Auto Hide on Scroll"
Hello! Great browser so thank you!
For the bottom nav bar when enabled, it takes up a lot of space, especially when in landscape mode or on Samsung dex. Can we do these items?
* Remove text under icon
* Auto hide when scrolling (this could be an option)

Vivaldi is an example to use

[2021-02-11 09:08] CookieJarApps commented on #215
Sure,

1) Yes, it's 99% done so on Friday or Saturday I'll release a beta - there will be 3 ad block modes (hybrid, elements and hosts), the hosts option is the current adblocker, elements is an adblockplus-based adblocker that uses easylist with acceptable ads also removed by default, and hybrid uses both together to be about on par with uBlock origin. The main issue at the moment is that on some

[2021-02-11 10:34] CookieJarApps commented on #214
Thanks for the suggestion - yeah, the bookmark editing system could do with a bit of work. You used to have to hold on the bookmark, but now it's tapping the icon, since I'll eventually add bookmark drag and drop. I'll either add a message in the onboarding about how to access the bookmark edit section, or I'll make the drawers a bit wider and addd an edit button in the extra space.

[2021-02-11 13:56] theappuser commented on #214
Great! Looking forward to seeing this in future updates.

[2021-02-12 09:47] CookieJarApps commented on #211
My idea is to possibly have 3 homepage styles - default (the current style), focused (time, weather and shortcuts) and informative (news). I haven't 100% decided how the new 2 would look, but I'm working on some design mockups and I'll send them here later today.

[2021-02-12 11:17] CookieJarApps commented on #211
<img src="https://storeimg.com/uploads/602663c411a79.png" />

[2021-02-12 11:57] RickyM7 commented on #211
Sorry for intruding but I would like to give my opinion on these designs.
I really liked all the variants, especially `variants 2 and 3` because they are simpler, something I like a lot. I think `variant 2` has too much empty space, maybe you could put the search bar a little higher up along with the shortcuts and enable the option to add more shortcuts as well (like you have in `variant 3`). In `

[2021-02-12 14:35] imrohitkumar commented on #211
I liked the 3rd and 4th design. That's exactly what i want to get, A homepage with newsfeed.

[2021-02-12 23:09] Jpersh27 commented on #215
@CookieJarApps Thank you for the reply and extensive explanation.

• I do have 2 final questions if you have the time to answer them please. Thanks again.

1.) Will the beta that will most likely arrive next weekend (20th of Feb) include the added improvements to the Video download functionality? Or will it be pushed back to a later date?

• (I feel either way would work but coming from experience

[2021-02-13 02:02] divyansh10101 opened #217 "[Bug] browser closes when opening download Leo's Fortune APK"
https://apk4all.com/android/apps/leos-fortune-paid/
The browser closed when clicked on Download Leo's Fortune APK
other browser are opening download page

[2021-02-13 08:23] CookieJarApps commented on #217
What browser version are you on, and is the integrated download manager on in advanced settings?

[2021-02-13 10:11] divyansh10101 commented on #217
12.1.1
Yes, use integrated download manager is on

[2021-02-13 12:47] CookieJarApps commented on #211
I changed the news section design a bit and I think it looks better now - the only thing I'm not 100% sure about is how the image at the top of the cards looks, but in theory now I'll start adding the new homepage options for v13.
<img src="https://storeimg.com/uploads/6026ccbc48f16.png" />

[2021-02-13 12:48] CookieJarApps commented on #217
Ok, just two more things - what Android version are you on and do you have a custom download location set. After that, I'll look into this issue.

[2021-02-13 15:06] RickyM7 commented on #211
The Variant 2 v2 is perfect in my opinion.
In my opinion just missing a retouch in the news section for the Variant 4 v2 to be perfect.
About the news section, what was causing me discomfort was apparently two things:
1. There was no division between the news (in variant 4 v2 there is a division between the news and this was great)
2. The news was very small (I think you leave the image of the new

[2021-02-13 16:30] CookieJarApps commented on #215
1) Yes, the beta will include improved video downloading

2) There aren't any plans at the moment, but it's a uBlock feature I like a lot, so I'll add it to the roadmap

[2021-02-13 17:50] divyansh10101 commented on #217
Android 11 Octavi OS
Download location is default to Downloads

[2021-02-13 22:58] Jpersh27 commented on #215
@CookieJarApps Thanks again for the info and looking forward to testing out the beta build next weekend.
• I have two final questions for you below if you have time to answer them for me please.

1.) Have you settled yet on what Video download function you'll be using?

• “Either the option too simply just hold on the video and press download" Or “Something similar to 1DM with a download button th

[2021-02-14 09:54] CookieJarApps commented on #215
1) I still haven't 100% decided, but probably the 1DM solution - I'm just not really sure where I'd put the download button, but the actual feature would be pretty easy to implement using YouTubeDL (assuming it doesn't increase the app size too much, and doesn't get the app removed from the Play Store)

2) The beta will be on the SmartCookieWeb-beta repository (they're in a different repo so F-Dro

[2021-02-14 10:31] Jpersh27 commented on #215
@CookieJarApps Thanks for the reply again.

•Suggestion- A good place for the download button could be between the "Refresh Button" in the address bar and the “3 vertical dots button aka vertical ellipsis."

•1DM has it located exactly between both of those buttons. I will include a screenshot showing the location I'm describing.

• I currently am using the most current version released on the Sma

[2021-02-14 10:37] CookieJarApps commented on #215
1) The beta version will install as a separate app - you don't need to uninstall the main app and it won't overwrite it either, so if something goes wrong in the beta you can still use the browser.

2) The downloader will work in the same way as 1DM (and will be compatible with YouTube, unlike 1DM), but to avoid Google Play restrictions it'll be a separate app. So you'll install the browser and a

[2021-02-14 20:21] Jpersh27 commented on #215
@CookieJarApps

• So from what I'm gathering is that I need to install the beta version of the app under the sperate repository here on GitHub, and then once you release a new update I will be able to install the video downloader plugin under the extension tab under settings within the browser.

1.) Exactly like in the screenshot I attached here below?

2.) Will the Video download function only be

[2021-02-14 20:37] CookieJarApps commented on #215
So the way it will work is, if you have the beta of update v13 installed and the plugin app installed, the browser will automatically start showing a download icon in the toolbar when you visit a site with a compatible video on it. The functionality will come to the stable version of the browser when v13 comes out fully, and the Play Store version will have support too (but the plugin APK would ha

[2021-02-15 20:29] #164 closed

[2021-02-17 02:10] Jpersh27 commented on #215
@CookieJarApps Thanks again and thanks for the explanation and demonstration.

1.) Do you have a set release day this week you plan on releasing the Beta build for testing?

(I know you said you planned on releasing the plugin in the next 2 or 3 days about 3 days days ago when you sent me the previous information)

[2021-02-17 09:58] CookieJarApps commented on #215
Hopefully, the plugin will be done today - I'm just changing the plugin a bit so that it works on it's own without the browser to make it more an app that has browser integration rather than something that needs the browser to function. I'm not sure when the first v13 beta will be done, but definitely by the end of the week.

[2021-02-17 10:09] Jpersh27 commented on #215
@CookieJarApps Sweet definitely looking forward to trying out the plugin.

1.) How will I go about obtaining the plugin once Its available for release?

• You said your working on the plugin so that it won't be dependent on the browser itself too function. I'm assuming it will be it's own separate app?

2.) Will the plugin be available for release later today or will you be waiting to release it a

[2021-02-17 10:46] CookieJarApps commented on #215
1) You'll be able to get the plugin here: https://github.com/CookieJarApps/VideoDL/releases
It will be a separate app - you'll be able to enter a video URL and it'll download it - but it'll also have integration in the form of a download button in the navbar:
![videodownload](https://user-images.githubusercontent.com/44752343/108193334-3c976380-710d-11eb-98c5-4006e0970236.PNG)

2) The plugin will

[2021-02-17 21:21] fracklaus opened #219 "[Feature] File picker + external SD as download folder"
### Describe the feature you want
In the settings, it would greatly help to allow for selecting the download location, instead of hsving to type in a path.
Please also support external SD card; or probably just everything that can be accessed via storage access framework.

### Is your feature request related to a problem? Please describe.

### Additional context

[2021-02-17 22:43] RickyM7 commented on #219
This would be great, especially if it is possible to access the external SD, as it is a bit annoying to have to copy the bookmarks/settings backups to the internal storage whenever you need to import them.

[2021-02-18 02:36] Jpersh27 commented on #215
@CookieJarApps- Thank you for the app. I however encountered a bug/issue with the video download app itself after further testing of the apps features.

• I opened an issue on the separate repository for the app instead of on this one. I just wanted to notify you here after I filled out the issue/bug report for the app.

[2021-02-18 02:42] #104 closed

[2021-02-18 02:42] #165 closed

[2021-02-18 16:58] gokulraam opened #220 "Icons in bookmark bar hidden"
Icons in the bookmark drawer hidden when bottom toolbar and secondary navigation both are enabled.

Expected behavior

Able to access page tools, bookmark and reading mode icons when both bottom bar and secondary navigation are enabled.

 Screenshots

![Screenshot_20210218-222749](https://user-images.githubusercontent.com/40225391/108392262-74d09c00-720a-11eb-9373-e864cbd8a6f8.png)

[2021-02-18 17:01] gokulraam commented on #116
Page tools could be accessed from the main drop down to open page tools options in another option, like in Mozilla fenix browser where clicking in addons would open list of addons.

[2021-02-18 20:55] CookieJarApps commented on #116
I might add a customizable dropdown menu where you can choose what options in whatever order you want, so I could add desktop mode toggling and/or page tools without making the menu list too long.

[2021-02-18 22:38] 3j9fkyahunqoxwqu commented on #208
All are stock (not rooted and not Installed any custom rom)

One device is nexus9 with android 6 (android api 23) (pure google ui)

One is LG K4 with Android lolipop (android api 22) with LG's own custom skin.

One is Xperia C3 with Android lolipop (android api 21 or 22)

I couldn't check them again because they are relative person devices due to covid-19 and my own illness. And also my eye proble

[2021-02-18 22:39] 3j9fkyahunqoxwqu commented on #208
Thank you very much

[2021-02-19 04:29] gokulraam opened #221 "White background when opening app"
A brief white background is shown when opening the app even when dark theme is set to the app.

Expected behavior

When starting the app should have a dark background when app theme is set to dark.

Device Info
 - device Asus X00TD
 - OS: (Android 9.0)
 - App version: [e.g. v12.1.1], downloaded from github.

[2021-02-19 04:55] gokulraam opened #222 "Open view page source in new tab"
When click on view page source, the resultant view is shown in a textbox which is difficult to view.

Expected behavior

Open the page source in a new tab like chromium based browser or open in a full sized modal.

[2021-02-19 04:59] gokulraam opened #223 "Menu closing animation"
When the menu is closed by clicking outside the menu closing animation looks like a stutter.

Expected behavior

Menu hiding animation is smooth.

[2021-02-19 10:02] CookieJarApps commented on #223
Should now be fixed in commit 44fa487ccd4f5e35ebeab4ebf6e3386058bafe27.

Before:
![ezgif-6-4687208ab00a](https://user-images.githubusercontent.com/44752343/108489305-52d22a80-7299-11eb-89c9-6e957d02207e.gif)

After:
![ezgif-6-00fdedc3edd2](https://user-images.githubusercontent.com/44752343/108489464-7d23e800-7299-11eb-8aff-011b94aac079.gif)

[2021-02-19 13:19] gokulraam commented on #220
Few thoughts

Secondary navigation isn’t needed when bottom bar is enabled, that's how it is when the first setup is run. In that case we shouldn't be able to select or show secondary navigation.

[2021-02-19 13:23] gokulraam opened #224 "New tab view bug"
When new tab view is selected and secondary navigation bar is shown, there is a tab icon shown which opens a empty drawer which isnt needed at all in that view.

[2021-02-19 13:33] gokulraam opened #225 "Custom userscripts"
Ability to add custom userscripts not from the userscript store. This could be use for individual purposes.

[2021-02-19 14:35] legkamran commented on #106
Thanks :)

[2021-02-20 15:48] GithbUser opened #226 "Override website zoom not working with javascript disabled"
Title is self explaining

This is not a major bug which many people use but
Override zoom in Smartcookieweb is not  working with javascript disabled but in Bromite browser,it is working.

To Reproduce
Steps to reproduce the behavior:
1. Go to Setting
2. Click on General
3. Enable Override Website Zoom block
4. Disable Javascript
5. Go to any website say(www.flipkart.com)
6. Pinch to zoom in or out

[2021-02-20 18:44] moriel5 commented on #195
I personally have noticed that SmartCookieWeb fully closes (not a crash) when closing tabs, wiping my history with it (I have history set to be wiped on browser close), and even disabling browser close on last year close, and setting history to be cleared only on session end due not help.

I am facing this bug more and more often since version 10, on the following devices:
Nexus 4, Android 7.1.2 (

[2021-02-21 06:43] Jpersh27 commented on #215
Hey @CookieJarApps

1.) I was just wondering if you are still on track to release the first v13 beta by the end of the day today?

• I know you previously said that: “I'm not sure when the first v13 beta will be done, but definitely by the end of the week"

Thank you and looking forward to the release of the Beta and testing out the new download button feature in v13.

[2021-02-21 11:29] RickyM7 commented on #148
@CookieJarApps Could you add an item selector to the SCW download history and browsing history? It's just that it's a bit annoying to have to delete one item at a time and having a selector would be very helpful.

[2021-02-21 14:01] CookieJarApps commented on #215
Yes, I'm still going to release v13 by the end of the day today.

[2021-02-21 17:53] LAbare opened #227 "[Bug] Userscripts don’t load @require resources"
I don’t know if it’s planned for a future release/later, so I’m labeling it as a bug. I’m still on v12.0.1, but scanning through the recent commits it doesn’t seem to have been fixed already.

Userscripts don’t load resources from the @require tag, which means that a lot of them which require external resources like jQuery will _silently_ fail to work.

### To test/reproduce
1. Install this test u

[2021-02-21 18:33] CookieJarApps commented on #227
I added columns to the database ready to add support for UserScript versions, descriptions, namespaces, permissions and the run-at tag, but there isn't space for @require at the moment, so I'll make sure the next update includes an updated database and hopefully support for the tag.

[2021-02-21 20:22] Rytt5 commented on #216
Hi! I tried the new beta! Removing the text looks awesome and much more cleaner for the UI, but the size of the bar did not change. Was hoping that the icons remain the same size and the bar will shrink in size.

[2021-02-21 21:56] RickyM7 commented on #195
This is an SCW option and you can disable this in Settings > General settings > Close browser with last tab.

[2021-02-21 22:01] RickyM7 commented on #195
@CookieJarApps Do you think I should still leave this issue open? It is that the only missing bug to be fixed is the slowness when using reading mode, but the slowness occurs probably due to the new option to show the links of the page and compared to previous versions without it the speed difference of the reading mode is quite small.

[2021-02-22 02:10] moriel5 commented on #195
@RickyM7 Thanks, however as mentioned, I already tried that without any changes to behaviour.

The oddest thing about this issue, is that there does not seem to be any prerequisite for to happen, aside from closing the current viewed tab (regardless of how it is pulled off), since it happens seemingly at random.

[2021-02-22 02:16] RickyM7 commented on #195
@moriel5 This is really weird, maybe you'd better create a separate issue for this bug.

[2021-02-22 02:21] moriel5 commented on #195
@RickyM7 Thanks, I'll so so.
And I'm sorry about the accidental cross-references, I'm used to using the sharp sign and I am currently glide typing from the Razer Phone with the same hand I am using to hold it.

[2021-02-22 03:14] RickyM7 commented on #195
@moriel5 I didn't quite understand this (sorry, it's just that I'm not fluent in English).
About the bugs you mentioned, they do not occur on my device (Redmi Note 4 - MIUI 11 - Android 7.0). I tested the latest stable version (v12.1.1 (GitHub)) and the latest beta version (v13.0.0-beta1).

[2021-02-22 04:28] moriel5 commented on #195
@RickyM7 I had accidentally referenced other issues by issues the "#" symbol.

As for the issues, do you have "Clear History on Clear" enabled in "Privacy and security settings"?

I'm may be that this setting is not functioning properly (possibly triggered by false positives), since I have been making use of this setting since there Lightning Browser days, and only in the last few versions (since

[2021-02-22 04:52] gokulraam opened #228 "Possible crash"
Description

Not able to download images when in incognito mode, seems to crash and the tabs are lost.

Steps to reproduce:

1. Open incognito tab
2. Open any site eg: search image and try to download image from search results
3. App crashed.

Expected behavior

Able to download image, does not lose tabs.

Screenshot

![Screenshot_20210222-095940](https://user-images.githubusercontent.com/40225391

[2021-02-22 08:02] RickyM7 commented on #195
As for my issues, do you have "Clear History on Clear" enabled in "Privacy and security settings"?

[2021-02-22 08:34] CookieJarApps commented on #195
Yeah, I still want to fix the reading mode slowness - I think that the device is having to load the entire text of the page even when some is offscreen, and that combined with rendering the links and formatted text causes a slowdown, so maybe in the next beta I'll split the page into paragraphs and only load each paragraph when it's on screen.

[2021-02-22 09:44] RickyM7 commented on #195
Got it, thank you.

[2021-02-22 19:51] moriel5 commented on #195
@RickyM7 Hmm...
I'll continue testing this on my end on the beta version before posting a big report.
Currently I do not see this bug on the beta version, however since it appears to happen at random, I'll need more time for this.

[2021-02-22 20:01] RickyM7 commented on #195
@moriel5 Maybe it's a good idea for you to download the latest debug build in [actions](https://github.com/CookieJarApps/SmartCookieWeb/actions) and try to get the bug to occur through it to see what Leaks generates.

[2021-02-22 20:16] moriel5 commented on #195
@RickyM7 That sounds like a good idea, however I am pretty blocked off from accessing a desktop OS, with my laptop waiting for a new motherboard (Lenovo built it in such a way, that if the battery is disconnected, the laptop refuses to accept power from AC) and my desktop (also in need of a motherboard replacement, since it is already dying on me (AsRock 9-series motherboards have extremely unstab

[2021-02-22 20:31] RickyM7 commented on #195
@moriel5 Try [Android CI `#192 https://github.com/CookieJarApps/SmartCookieWeb/actions/runs/587004095

[2021-02-22 21:58] moriel5 commented on #195
@RickyM7 Thanks, I'll try that when I finish my chores here.

[2021-02-23 14:19] jamal2362 opened #229 "[Bug] Reload Button causes white screen"
Reload Button causes white screen.
data:text/html;charset=utf-8;base64,

![Screenshot_20210223-151529__01](https://user-images.githubusercontent.com/15986930/108856540-76bfa400-75ea-11eb-8b76-e7623dc1d3b8.jpg)

![Screenshot_20210223-151536](https://user-images.githubusercontent.com/15986930/108856567-7d4e1b80-75ea-11eb-88bc-f3af052a9719.jpg)

[2021-02-24 22:01] #215 closed

[2021-02-25 07:15] Jpersh27 opened #230 "[Bug: App Crashes constantly on App version # 13.0.0-beta1]"
@CookieJarApps - I have had several issues with the most recent beta build of the browser since it was released last weekend.

• App Version # - 13.0.0-beta1

• Android Version # - 10 Q

• Device Information- Nokia 5.3

• Details of the Crash- App crashes constantly after you open several tabs in the background. This has occurred several times since the new beta build was released. The app complet

[2021-02-25 12:46] CookieJarApps commented on #230
Could you check if Android System WebView and Chrome are up to date on your device?

[2021-02-25 19:20] CookieJarApps commented on #228
Thanks for letting me know, I can see the same issue on my device, so I'll fix this now.

[2021-02-26 19:37] Jpersh27 commented on #230
• System webview version #- 88.0.4324.181

• Bromite version #- 88.0.4324.187

• And yes both versions are running the latest updates made available currently at this time.

[2021-02-26 19:53] Jpersh27 commented on #230
@CookieJarApps have you had the time to review my request and go over the items I listed in the Repository for VideoDL yet?

• It is listed as an open issue and is labeled issue #4.

• I listed potential new features that would benefit the apps functionality and make it appealing to more users.

[2021-02-26 21:50] CookieJarApps commented on #230
Thanks for the suggestions - I just read through and they're definitely things that would make the app a lot better to use.

I've been kind of split between working on SmartCookieWeb, VideoDL and Biscuit Browser over the last week, but this week I'll make sure that I get the SmartCookieWeb crashes fixed and a new VideoDL update out with some/all of the suggested features.

[2021-02-27 18:57] Jpersh27 commented on #230
@CookieJarApps- Thank you for taking the time to review the suggestions I made. I am definitely looking forward to seeing the features implemented in the new update and the crashes fixed with Smart Cookie Web browser.

• I do have a few quick questions if you don't mind me asking and you have time to answer them.

1.) ETA on when a new version of Smart Cookie Web Browser-beta will be released addr

[2021-02-27 19:30] Jpersh27 opened #231 "[SmartCookieWeb v13.0.0-beta1 Crashes and Ad blocker issues]"
@CookieJarApps I determined two other crashes with the SmartCookieWeb v13.0.0-beta1

(1.) It occurs any time you use the “Find In Page" feature. Once you click on it and click on Find In Page or click on any link on the screen, the browser crashes and sometimes gives you an error message like this- ![IMG_20210227_140319.jpg](https://user-images.githubusercontent.com/77606699/109397459-a6312200-790

[2021-02-27 20:30] CookieJarApps commented on #230
1) The crashes are a pretty urgent issue, so I'm going to spend tomorrow morning working out why they're occurring, ready for an update later that day.

2) I'm going to work on VideoDL over the week and get an update out next weekend (definitely with suggestions 2 and 3, possibly with 1 if I can get it working)

3) Suggestions 2 and 3 will definitely be in the update, but suggestion 1 and multiple

[2021-02-28 08:31] CookieJarApps commented on #230
One last thing - would it be possible for you to get a settings export in Import and Export settings and send it here? It would help me to recreate the circumstances that caused it to crash.  I have an Android 10 device with the same WebView version at the moment, but even with 100 tabs the browser stays stable so I suspect there's a bug with one of the settings.

[2021-02-28 08:40] Jpersh27 commented on #230
@CookieJarApps- Sure no problem. How do I go about sending it too you? It says on GitHub that it's a unsupported file type when I tried to add it to my comment. I assume I would have to be emailed to you since I can't post it here?

[2021-02-28 09:01] CookieJarApps commented on #230
Thanks - you can email it to support@cookiejarapps.com

[2021-02-28 09:54] CookieJarApps commented on #230
I've got the email, I'll use the browser for a bit with those settings and see if I get a crash.

[2021-02-28 22:10] xandro0777 opened #232 "Caching/Reloading content"
Noticed that SCW does some kind of refresh/reload quite often, even in situations where I would not expect it. For example SCW is "on top", screen locks after a timeout - after unlocking it seems to reload the page. Same if SCW was briefly in the background. Whats more, caching apparently won't cache much.

[2021-02-28 23:17] Jpersh27 commented on #230
@CookieJarApps - Have you made any progress In determinating anything and fixing any of the crashes?

• Also will you still be releasing a new update later today for the Browser? Or will it not be released until tomorrow at some point?

[2021-03-01 08:13] CookieJarApps commented on #230
I still can't recreate the crashes - I suspect that it's a new WebView bug and might be specific to the device (OnePlus phones had random WebView crashes for months before Google fixed it). I'm going to try on some more devices today to see if there's any difference on those.

[2021-03-01 08:49] RickyM7 commented on #232
Duplicate of #193 (and #125, i guess

[2021-03-01 09:07] xandro0777 commented on #232
In my case the reload appears to happen even if the page was previously  fully loaded,  which doesn't seem to be the case with #193 ?

As of #125 so far I can only say other browsers apparently caching reduces network load much more significantly - even though I didn't close any tabs and didn't exit the browser. Other browsers also regularly consume much more memory so it is a tradeoff.

[2021-03-01 09:19] RickyM7 commented on #232
Even if the page has loaded completely, if a component has not loaded completely (e.g. an image of the page), the page will reload.
I think this is the same case as #193, but it's best to leave the issue open until this is confirmed.

The biggest problem in #125 is the fact that the cache is re-stored every time the app is minimized and the other problem cited is the 'User Date' which is not clean

[2021-03-01 09:26] Jpersh27 commented on #230
@CookieJarApps- Thanks again for looking into it.

I do have a few quick questions below regarding the Web browser though if you have time to answer.

1.) Any ETA on when the further expanded Adblocker capabilities will be coming to the browser? (Adblocker filters instead of relying on host files which aren't always effective in blocking all the domains)

2.) Any plans to expanded the Adblocker ca

[2021-03-01 10:26] CookieJarApps commented on #230
1) The main issue I'm having with the improved adblocker is that it increases the size of the app by a lot. I was going to keep both this browser and BiscuitBrowser maintained in parallel, and the main advantage of SmartCookieWeb would be they smaller download size, but adding an improved adblocker would bring the app size a lot closer to BiscuitBrowser. I'm still considering the filter-based adbl

[2021-03-03 11:43] CookieJarApps commented on #230
I completely forgot that this is a known bug - turning off "Request Do Not Track" or "Allow site to open new windows" (in advanced settings) will stop the crashes.

[2021-03-03 20:15] Jpersh27 commented on #230
@CookieJarApps- Sweet thank you for looking into it for me. I will try it out the new settings and see if It will resolve the issue.

1.) Are you still planning to release a update for VideoDL sometime this weekend? If so what all will be included in the update? And what day do you plan on releasing it on if I may ask?

2.) Any way to use and make VideoDL an external Download Manager for browser a

[2021-03-04 09:52] CookieJarApps commented on #230
1) I'm planning to release the VideoDL update on Sunday, currently with download percentages, download pausing and cancelling and simultaneous downloads, and I'll carry on working on splitting downloads to try and get that into the update too.

2) You can currently share video links with VideoDL (using the share button in Firefox -> VideoDL will attempt to download the video), but considering the

[2021-03-07 17:12] #229 closed

[2021-03-08 04:28] thobusch opened #233 "[Bug] Bookmark Issues"
When setting bookmarks as start page, you will find that:
New bookmarks are not beeing sorted alphabetically as before,
although they are still sorted in the bookmark menu.

When exporting bookmarks, you will find that:
New bookmarks (see above) are added at the very end of the exported file.

This is related to all versions after version 9.x of SmartCookieWeb.

[2021-03-08 10:25] CookieJarApps commented on #233
v13 is going to include basic bookmark drag and drop, and in theory bookmarks that are reordered in the drawer will reflect on the start page. The only current bug is that folders always end up at the end of the list, in alphabetical order, because folder positions aren't currently stored.

[2021-03-08 14:45] thobusch commented on #233
Great news, thank you.

Having the bookmarks at the end of the list is not a bug in my opinion:
Its great to have the most important bookmarks before the folders holding the less importing bookmarks.

SmartCookieWeb ist the best android browser i ever used. You took the already great lightning browser, and made it even better. Really really great job. Thumbs up.

[2021-03-08 19:16] Jpersh27 commented on #230
@CookieJarApps- Any news on when or what date the new update for VideoDL will be released on?

• I know previously you said it would be released yesterday, (March 7th) but I see that two new versions of the Biscuit Browser where released instead.

2.) Will the new update still Include download percentages, download pausing and cancelling and simultaneous downloads?

3.) Any progress on working on

[2021-03-09 12:46] #231 closed

[2021-03-12 22:20] legkamran opened #236 "[Bug] Browser crushing sometimes when open link in the same tab."
Suggestion: if after click link somethig goes wrong, browser move link to new tab(maybe pop up  notify that and ask open new tab or stop), if after that also cant open the site just stop loading web page and pop up message box "unsuccessful....etc."... I tried bunch of time, when I click img on github its crushing. Browser closing automaticly. But when I reopen browser and open img in new tab ever

[2021-03-12 22:31] legkamran commented on #104
And btw about bookmark icons cant it be lockated as browser data not as cache... They disappering after cache clear.

[2021-03-12 22:41] legkamran commented on #225
Actually you can add. I am loading to github and installing from here.

[2021-03-13 03:49] gokulraam commented on #225
Actually the browser detects and shows a popup if  you want to install userscript, but the browser crashes upon clicking yes. For testing purposes, i added the same userscript available in user script store onto a file in github repo. so possibility of a error in userscript is nil and install works correctly from script store and gets added.

[2021-03-13 09:00] CookieJarApps commented on #225
That's odd - it shouldn't crash at all, even if something's wrong with the script. I've tested with GreasyFork and it works properly, but I'll see if downloading some scripts from GitHub causes any issues.

[2021-03-14 10:28] ChristianKurz opened #238 "[Feature] Url-bar in tabs drawer"
It would be nice, if we could have an option to move the url-bar to the bottom of the tabs drawer.

This would further reduce the amount of space used by the browser for a more immersive experience.

[2021-03-14 10:55] CookieJarApps commented on #238
Are you thinking of something a bit like this?

![tabs](https://user-images.githubusercontent.com/44752343/111065836-b07e1f00-84b3-11eb-81f9-bfaa4b7c6bcf.png)

[2021-03-14 11:22] Lee245 opened #239 "[Bug] Visiting page redirects to data:image/svg+xml"
### Describe the bug

When visiting the page mentioned below, it first loads the page, but then automatically redirects to "data:image/svg+xml,%3Csvg xlmns='http://www.w3.org/2000/svg' width='980' height='551'/%3E". On the default Android browser and on Fennec, the page loads just fine.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://tweakers.net/reviews/8806/harvest-moon-one-w

[2021-03-14 13:58] ChristianKurz commented on #238
That's exactly what im talking about. Thanks for the mockup, i should have done that myself.

[2021-03-15 03:51] #230 closed

[2021-03-16 04:27] ntnguyen1234 opened #240 "[Feature] Compatible with Adguard"
So, right now SmartCookieWeb is not compatible with Adguard HTTPS Filtering option (it throws error with SSL when loading web pages). I hope it can be compatible soon while waiting for libadblock version becomes more stable.

[2021-03-16 09:40] 3j9fkyahunqoxwqu commented on #208
Hello
I tested the app with a lolipop based asus tablet (x86 chip) and it worked great and didn't crashed.

It is odd why it crashes in those devices.
Xperia c3 has arm 32 bit chip and other have 64 arm 64 bit chips.

But by the way the bug is in lightning transition between 4.5.1 and its latest version.

[2021-03-16 16:21] lawson85 commented on #240
As a workaround, install NetGuard firewall from the play store and set it to use AdGuard DNS, this is what I do. This app will also allow you to prevent apps from connecting to the internet, tis saves a ton of data and is open source

[2021-03-16 16:22] lawson85 commented on #236
I experience crashes in a similar way, for now long click the links and open them in a new tab.

[2021-03-16 17:15] CookieJarApps commented on #240
Should be fixed in 8d16ce10924e9588147eaa3eb2eca399cdc32ac7, I'll update the app later today.

[2021-03-16 18:05] CookieJarApps commented on #239
Would it be possible for you to check if this occurs in other WebView browsers (e.g. Lightning, Via, Soul or FOSS Browser) on your device? Thanks for reporting the bug.

[2021-03-16 18:06] CookieJarApps commented on #226
Thanks for reporting the bug, I'll look into this.

[2021-03-16 18:07] CookieJarApps commented on #224
Fixed in 45d0a943d9482cfe023fa42745360caa94acb355, this will be in v13 later today.

[2021-03-17 00:50] ntnguyen1234 commented on #240
Great update. But somehow when I type in a website (for example `apkmirror.com`), it returns http version and gets error

![Capture _2021-03-17-09-47-30](https://user-images.githubusercontent.com/23257168/111398033-fa5e4380-8705-11eb-8461-42c6d04debee.png)

I'm not sure if it's because of the update, or something I should change in the settings, since I have turned on `Return HTTPS site version`.

[2021-03-17 04:09] #224 closed

[2021-03-17 04:09] #223 closed

[2021-03-17 08:35] CookieJarApps commented on #240
I've fixed the HTTP bug in v13.0.1, sorry about that. Hiding while scrolling currently doesn't work for the bottom navbar, but I'll add it to the roadmap and make sure it's included in the next update.

[2021-03-17 13:42] ntnguyen1234 commented on #240
Thank you for the update. It works normally now.

[2021-03-17 13:43] #240 closed

[2021-03-17 18:54] Lee245 commented on #239
Thanks for looking into this! I checked with both the standard LOS browser (which I assume also uses WebView) and the FOSS browser. No issues there. Could it be related to any browser settings?

[2021-03-17 19:31] CookieJarApps commented on #239
If you exported your settings in the browser and pasted the contents of the exported txt file here, I can try importing your settings and seeing if any of those cause this issue.

[2021-03-18 03:04] ntnguyen1234 opened #241 "[Feature] Add option to bring list of tabs to the bottom"
So far the app is great. However, reaching the tabs list in the drawer is quite difficult when using with one hand in large phones. Is there any way to have an option bringing it down to the bottom?

[2021-03-18 17:35] CookieJarApps commented on #241
I was thinking of cleaning up the app settings in the next update, and the main thing I had in mind was a revamp of the customization page. Here's a basic idea of what I had in mind for some new drawer settings:
![customization_revamp](https://user-images.githubusercontent.com/44752343/111670778-1c43ed00-8810-11eb-9242-afbbed53940c.PNG)

Which could be a good solution to this issue.

[2021-03-19 04:37] ntnguyen1234 commented on #241
Oh it looks nice. Looking forward to future updates.

[2021-03-19 08:42] BioBut opened #242 "please add more option"
reference/example:

specific website open official app (Google play app, whatsapp app)
https://github.com/mjbdl/Premium-SmartWebView

Night Mode method.. splash screen
https://github.com/dmitrylaas/evobrowser

 lightweight browser app
https://github.com/alandau/sweb

my website not working
https://www.biobut.com/2020/12/png-image-resizer-multiple-sizes.html

Download manager external support

Bro

[2021-03-20 01:12] ntnguyen1234 commented on #242
I can download via external download manager by turning off `Handle all clicked link within this browser` in `Advanced settings`. It also helps open websites in apps too 👀

[2021-03-21 09:04] #178 closed

[2021-03-21 09:24] CookieJarApps commented on #208
Thanks, I'll look into this.

[2021-03-22 06:04] Lee245 commented on #239
Thanks. I also have the same issue when using Midori, which is very similar to this browser. Here's the settings export;

"stopIntent"="false","preferHTTPS"="true","ssl"="true","thirdParty"="true","search"="12","imageUrl"="","alwaysincognito"="false","cache"="true","AdBlock"="true","colorMode"="false","lastTab"="false","blackStatusBar"="false","doNotTrack"="true","firstLaunch"="false","fullscreen"

[2021-03-22 09:30] yitzy299 commented on #239
Yes, that's because midori is literally a copy/paste job of smart cookie...

[2021-03-24 16:02] vagosss opened #243 "Ads everywhere![Bug]"
I'm using the latest f-droid version 13.01 and the ad blocker simply does not work. I had the same issue with version 13.0 aswell.
Device: Huawei P8 lite, Android v6.0, latest webview version.

Thank you.
![Screenshot_2021-03-24-17-53-47](https://user-images.githubusercontent.com/81318216/112342594-05e3d880-8ccb-11eb-995a-752a9a65429f.png)

### Describe the bug

### To Reproduce
Steps to reproduce

[2021-03-24 16:10] CookieJarApps commented on #243
Thanks for reporting the bug - I'm working on a custom ad block hosts list for the browser, but in the process of transitioning, some (specifically Google) ad domains in some parts of the world ended up being removed from the list unintentionally. For update v13.1, I'll update the list to properly block ads, but for now, in Content Block Settings, could you try setting the hosts source to remote,

[2021-03-24 16:18] vagosss commented on #243
Thank you for the lightning fast answer, yes with the remote hosts is working as intended. Thank you so much for your work.

[2021-03-24 19:51] #243 closed

[2021-03-27 14:27] Rustlang4Future opened #244 "please add an option to completely block access of any third party website to LAN"
please add an option to completely block access of any third party website to LAN

Also chrome is trying to add it in their browser (now they added the option to block access from insecure website

As recent malicious activities against router login pages that are exist for several years this optional option will be great.

Also an option to block localhost also will be great addition.

Thanks.

m

[2021-03-27 14:38] 3j9fkyahunqoxwqu commented on #244
Or if it is hard to do this in webview, at least please look into adding an option to completely block access to LAN IPs from browser so we can enable it and if we needed to access LAN, we can temporarily disable it.

Also same with localhost will be great.

Thank you very much.

[2021-03-27 17:11] 3j9fkyahunqoxwqu commented on #50
I had these problem with latest version of lightning so this bug may be related to its code.

[2021-03-27 17:13] 3j9fkyahunqoxwqu commented on #239
I also had this issue with some websites i opened from google search but i don't remember the websites and the search url to share unfortunately.

[2021-03-28 18:46] #68 closed

[2021-03-29 08:56] CookieJarApps commented on #244
Thanks, I'll look into this today.

[2021-03-29 08:57] CookieJarApps commented on #239
Thanks, I'll import those settings and see if I can recreate the issue.

[2021-04-01 11:18] CookieJarApps commented on #241
I've added this, and an option to stack tabs from the bottom of the drawer in commit 53188cd755d9cb1d2ce0b359a328eb11f6a3e8a9

[2021-04-01 11:52] ntnguyen1234 commented on #241
Oh great. Hope to see it soon.

[2021-04-02 13:43] micwoj92 commented on #105
unstale

[2021-04-03 23:02] StOrmCatz opened #245 "[Feature] Focus URL Bar on New Tab"
It would be fantastic if a setting could be added whereby when a new tab is created,  the URL bar is automatically focused so it brings up the keyboard and immediately allows inputting an address or search query.

If we are concerned that this is experience may not always be wanted,  potentially this option is only available if the user sets the new tab configuration to go to a BLANK page.

[2021-04-03 23:10] StOrmCatz opened #246 "[Feature] Browser/Page Navigation Gestures"
I'm currently using a browser that has some of the following gestures that can be configured to perform various actions on the browser/page.

A similar gesture system would make this the ultimate browser.

Example gestures
- Two finger swipe up
- Two finger swipe down
- Double tap then swipe right
- Double tap then swipe left
- Bottom left edge swipe up
- Bottom right edge swipe up
- Bottom left e

[2021-04-03 23:24] StOrmCatz opened #247 "[Feature] Set any text size zoom percentage"
Currently the browser supports setting the text size zoom percentage, but it moves in predefined increments. Eg. 100% > 115% > 130%

I was previously using another webview based browser,  and my optimal zoom (depending on device) is somewhere between 125%-128%.  It would be really awesome if we could set values through the whole zoom percentage range.

I can think of two potential ways to implemen

[2021-04-04 19:57] #185 closed

[2021-04-05 09:31] lawson85 commented on #226
Doesn't seem to work even with JavaScript for me

[2021-04-08 18:40] RickyM7 commented on #120
Unstale

[2021-04-08 18:40] RickyM7 commented on #135
Unstale

[2021-04-08 18:42] RickyM7 commented on #171
Unstale

[2021-04-08 22:13] KosmoEskudo opened #248 "[Feature] Browser fingerprint protection"
### Describe the feature you want
Currently, browser fingerprinting is an effective and widely used tracking method. Some browsers, such as Brave, Bromite, Firefox (if configured) have browser fingerprint protection.

[2021-04-09 09:13] CookieJarApps commented on #120
Fixed in b4fe273a96c3545322a4c81eb3c90e5634836c55

[2021-04-09 17:52] lawson85 commented on #248
This will tell you how much info is given by SCW: https://www.deviceinfo.me/

[2021-04-09 19:01] #166 closed

[2021-04-09 20:16] #120 closed

[2021-04-11 11:12] RickyM7 commented on #179
Unstale

[2021-04-18 09:07] CookieJarApps opened #250 "Migrate to Storage Access Framework or Media Store API"
The app must use the Storage Access Framework or Media Store API to download files and make backups by May 5th or I will be unable to release the app on Android 11 or newer, and by November or the app will be removed from the Play Store.

[2021-04-18 13:04] #194 closed

[2021-04-19 10:19] fracklaus opened #251 "[ Feature] Switch to Dark Mode & enable dark website addon ehen Android is switches to dark mode"
When Android is switched to dark mode, it would be good if the browser would follow and automatically enabled the dark scheme + dark mode addon.

[2021-04-20 15:31] sidmint opened #252 "[Feature] full bottom navigation"
Thanks a lot for adding charge to lightning browser! I liked lightning lot but today discovered your app. Really good improvements.

In bottom navigation mode, everything should be at bottom for ease. Thanks for bringing the tabs in #241.

1. But bookmarks drawer must follow the same design.
2. The hamburger menu is too tall to reach from bottom, only if its height could be reduced, like by making

[2021-04-20 16:28] CookieJarApps commented on #252
1. Bookmarks should align to the bottom too when "Stack items from bottom of drawer" is on. Is that not working correctly on your device?

2. I'm planning to eventually add some customization options to the dropdown menu, such as columns / a grid / switching on and of individual options.

[2021-04-21 00:07] sidmint commented on #252
okay, i'm not on the latest version.

Thank you.

[2021-04-21 00:07] #252 closed

[2021-04-21 18:00] #60 closed

[2021-04-22 16:12] #121 closed

[2021-04-23 14:45] RickyM7 commented on #177
Unstale

[2021-04-24 15:14] #161 closed

[2021-04-24 15:14] #159 closed

[2021-04-25 16:50] RickyM7 commented on #193
Unstale

[2021-05-01 00:06] BioBut opened #253 "ad blocker issue"
some website use Ad blocker detection script (notification visible ) , please add specific website ad block enable/disable option
example
https://disableadblock.com/developers/

[2021-05-01 09:10] Jerome341 commented on #248
[BrowserAudit](https://browseraudit.com/) may help you find and identify browser vulnerabilities.

[2021-05-01 09:15] ghost opened #254 "[Feature] Global Privacy Control"
### Describe the feature you want

I think it would be nice if you support [Global Privacy Control](https://globalprivacycontrol.org/)

### Additional context

https://www.theverge.com/2021/1/28/22252935/global-privacy-control-personal-data-tracking-ccpa-cpra-gdpr-duckduckgo

[2021-05-01 11:42] CookieJarApps commented on #253
Most sites shouldn't be able to detect the hosts adblocker in the browser, but if they do, you can disable ad block for a site in Bookmark Drawer > Page Tools (list icon) > Disable Adblock For Site

[2021-05-01 11:46] CookieJarApps commented on #248
There are unfortunately some limitations with what I can do in WebView, and the few things I can do to hide some identifiable aspects of the browser seem to cause crashes. I'll carry on looking into what I can do to protect against fingerprinting, but the best option will probably be using [BiscuitBrowser](https://github.com/CookieJarApps/BiscuitBrowser/releases/)+ the Chameleon add-on

[2021-05-01 11:48] CookieJarApps commented on #254
Sure, I'll add this in the next update. Thanks for the suggestion.

[2021-05-02 22:20] #52 closed

[2021-05-02 22:20] #206 closed

[2021-05-02 22:20] #205 closed

[2021-05-05 02:58] #175 closed

[2021-05-05 02:58] #207 closed

[2021-05-11 20:00] nymsa opened #255 "[Bug] Wrong urls in history search"
### Describe the bug

When using search in history browser opens wrong site.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'history'
2. Click on 'search'
3. Filter something in history
4. Press on first result
5. It will be error - browser opens last visited site from history, not selected result (because last visited site is first in history list?)

### Expected behavior

When press

[2021-05-12 04:20] #72 closed

[2021-05-12 14:06] hwangjr opened #256 "[Bug] Can't open url, blank"
### Describe the bug
browser shows blank while open the url below, I guess because of the `iframe` tag
[code]

### To Reproduce
Steps to reproduce the behavior:
1. open url on app

### Expected behavior
show the website correctly

### Screenshots
No

### Device Info
 - Device: Oppo R9s
 - OS: ColorOS V3.0 Android 6.0.1
 - App version: v14.0

### Additional context
no

[2021-05-13 01:20] hwangjr commented on #256
webview version, 46.0.2490.76

[2021-05-13 17:19] hwangjr commented on #256
It seems to be ok after upgrade webview version.

[2021-05-13 17:19] #256 closed

[2021-05-14 09:09] ghost opened #257 "[Feature] option to use 3rd party downloader apps"
Please add an option to forward the downloads to Third party downloader apps like ADM ,1DM or Navi.

[2021-05-14 20:09] RickyM7 commented on #192
Unstale

[2021-05-15 09:15] Lee245 commented on #239
Any updates on this issue? I run into this problem quite regularly for different websites.

[2021-05-15 09:19] CookieJarApps commented on #239
It's definitely to do with the Do Not Track setting - disabling it fixes the issue. I suspect that this is a WebView bug, but I'll look into setting the headers differently in the browser to try and fix this and some of the crashes relating to the Do Not Track, Request 'Save-Data' and Remove Identifying HTTP Headers options.

[2021-05-15 21:56] #162 closed

[2021-05-16 08:05] CookieJarApps commented on #255
Fixed in 4b3b597e5e8a3613f3b72db969818393db357c48 - thanks for reporting the bug.

[2021-05-16 17:38] #209 closed

[2021-05-16 23:22] rustforfuture commented on #208
Hello

Any news on this option please?

An option like what Firefox for Android have is sufficient for me and probably many other, don't need to make it complex and time consuming for yourself :)

Thank you very much ♥️

[2021-05-17 02:31] #48 closed

[2021-05-17 02:31] #123 closed

[2021-05-21 04:20] #214 closed

[2021-05-21 06:13] RezurrectBodg commented on #214
@CookieJarApps you could probably make the drawers fullscreen, like a real page "bookmarks"

[2021-05-21 14:44] CookieJarApps commented on #214
I plan to keep the drawers, but I might widen them slightly and then add overflow menus to tabs and bookmarks so it's more obvious that there are actions relating to them.

[2021-05-21 23:39] RezurrectBodg commented on #214
@CookieJarApps

Of course, I don't mean you should remove drawers, I just wanted to say that you could widen them to the full screen

[2021-05-22 08:33] CookieJarApps commented on #214
Sorry, I didn't explain well - I mean that I'd rather keep some space on either side where you can see the page you're on and can easily exit with one tap, rather than making it a full-screen page.

[2021-05-22 09:45] Slion commented on #214
[Fulguris](https://github.com/Slion/Fulguris) does have full screen drawers by default. There is also an option to use bottom sheets instead.

[2021-05-22 10:00] RezurrectBodg commented on #214
@Slion

These are not exactly drawers because you can't close them with swipe

[2021-05-23 17:37] #217 closed

[2021-05-26 17:47] #219 closed

[2021-05-28 07:06] #116 closed

[2021-05-28 07:06] #221 closed

[2021-05-28 07:06] #220 closed

[2021-05-28 07:06] #222 closed

[2021-05-28 07:06] #106 closed

[2021-05-29 12:06] CookieJarApps commented on #177
It's been a while, but I'm working on rebuilding the site with translation support, so hopefully later this week it'll be ready to use with translations from Crowdin.

[2021-05-31 04:31] #148 closed

[2021-05-31 04:31] #216 closed

[2021-05-31 04:31] #169 closed

[2021-06-02 13:28] CookieJarApps commented on #227
I'm working on this now.

[2021-06-02 14:43] CookieJarApps commented on #227
Done! 60875baf2e1d834b47750df66af93e7b3a75b30a

[2021-06-02 20:43] #228 closed

[2021-06-02 20:43] #195 closed

[2021-06-04 20:09] hipocentrum commented on #156
.

[2021-06-04 20:31] CookieJarApps commented on #156
I'm planning to port the improved bookmark system from SmartCookieWeb Preview to this browser - I've got a migration script working so people don't lose bookmarks when updating to the improved system, but I'm testing it in the form of a way to import SCW bookmarks to SCWP so there's time for people to find bugs before I use it in a context where conversion issues would be a big problem. The improv

[2021-06-06 14:23] #232 closed

[2021-06-13 21:33] #233 closed

[2021-06-18 12:29] #225 closed

[2021-06-19 14:59] #238 closed

[2021-06-21 21:44] #45 closed

[2021-06-21 21:44] #236 closed

[2021-06-24 13:17] #170 closed

[2021-06-24 13:19] urfausto opened #261 "gmaps from google page"
with one of the lastest version i can't access google maps by clicking on the small window appearing in google search results... very weird because gmaps works normally when accessing it directly...

[2021-06-24 17:56] urfausto opened #262 "can't install anymore"
deleted from the phone, now i can't even find it in the store. how is this??? my tablet is huawei mediapad t3.
i had the download finished in my store queue and also tried to reinstall it from there and i can access the page but it says 'unsupported'

[2021-06-24 20:02] CookieJarApps commented on #262
Could I check what Android version your tablet is on? Thanks.

[2021-06-24 20:03] CookieJarApps commented on #261
This should be fixed as of v12.1.1 - is the version you're testing older than that version?

[2021-06-24 22:25] urfausto commented on #262
android 6

[2021-06-24 22:27] urfausto commented on #261
i guess not but i'm not sure. clicking was doing nothing...

[2021-06-25 01:12] #173 closed

[2021-06-25 04:50] #242 closed

[2021-06-25 11:11] CookieJarApps commented on #262
Thanks for letting me know, it could be because the app isn't marked as designed for tablets because there are no tablet screenshots for it. I'll take a look later today at Play Console to see why you can't see the app.

[2021-06-25 15:21] urfausto commented on #262
i could see it til a week ago...

[2021-06-25 21:15] CookieJarApps commented on #262
Oddly, Play Console lists the Mediapad T3 as supported. Can you see SmartCookieWeb Preview on Google Play?

[2021-06-26 09:07] urfausto commented on #262
no can't see anything. but i use aurora store anyway, but without a problem ever.

[2021-06-29 19:23] urfausto commented on #262
ok so, today i tried again and it magically reappered out of the blue. don't have any clue about it but everything seems back to normal. :smile:

[2021-06-29 19:23] #262 closed

[2021-06-29 19:24] urfausto commented on #261
with latest release the same issue persists: opening in a new tab opens the box image and that's it, it won't open the map from there...

[2021-06-30 21:55] #154 closed

[2021-07-01 14:02] micwoj92 commented on #105
unstale

[2021-07-02 21:18] #50 closed

[2021-07-04 11:50] #226 closed

[2021-07-06 00:31] ghost opened #263 "[Feature] Add Google Analytics Opt-Out extension"
### Describe the feature you want

Please add [this](https://tools.google.com/dlpage/gaoptout) extension

https://tools.google.com/dlpage/gaoptout

[2021-07-07 14:33] #241 closed

[2021-07-10 04:21] #245 closed

[2021-07-10 04:21] #246 closed

[2021-07-10 04:21] #247 closed

[2021-07-14 15:26] #190 closed

[2021-07-16 02:14] #135 closed

[2021-07-16 02:14] #171 closed

[2021-07-17 17:27] #179 closed

[2021-07-19 15:09] Gamefire238 opened #264 "change android navigation bar to black"
The navigation bar stays white and doesn't match the black theme of the app, and it stays white even in night mode on my android 11

[2021-07-20 10:20] CookieJarApps commented on #264
Thanks for letting me know, I'll look into this issue now.

[2021-07-24 16:26] #250 closed

[2021-08-01 02:37] #193 closed

[2021-08-02 16:34] moriel5 opened #265 "Userscript Support"
The MuseScore downloader userscript isn't working for me with SmartCookieWeb, and when posting the issue on their bug tracker, I was asked about your implementation of userscripts, i.e. how well does it conform to standards that most well known userscript managers (such as Tampermonkey) conform to.

[2021-08-03 09:56] #147 closed

[2021-08-03 09:56] #152 closed

[2021-08-06 15:54] #253 closed

[2021-08-06 15:54] #248 closed

[2021-08-06 15:54] #254 closed

[2021-08-07 07:25] StayFOSSFolks commented on #257
Easy.

Go to Settings >> Advanced Settings

Toggle `Handle all clicked links within this browser` off. So, the next time you tap/click the Download button you can choose your desired download manager.

[2021-08-07 08:11] ghost opened #266 "[Feature] Block JavaScript Based on Site Domain"
I would like to suggest some improvements in Javascript blocking. The current method of Javascript blocking is tedious and troublesome: One, when you block JavaScript on all sites and you have compiled a list of sites you wanna allow to have access to JavaScript, those whitelisted sites will continue to have their use of JavaScript blocked; two, when a website is among the list so sites under one

[2021-08-08 11:14] Flashwalker opened #267 "hardcoded https:// prefix"
Why is hardcoded https:// prefix for homepage?
What if i want local file:// as homepage?

[2021-08-11 23:31] rustforfuture commented on #208
Hello.
A simple title and url combination with a separation between every tab is sufficient.

Like this:

Title
<Enter>
Url
===========(Separation between tabs)========

Title 2
<Enter>
Url2
=================
And ...

This will be really great feature.

Thank you very much.

[2021-08-15 10:32] CookieJarApps commented on #208
Sorry for the late reply - I'll work on adding this to SCW now.

[2021-08-15 10:33] CookieJarApps commented on #267
I'll make sure this is fixed in the next update. Thanks for reporting the issue!

[2021-08-15 11:44] rustforfuture commented on #208
Thank you very much ♥️

[2021-08-20 10:38] #192 closed

[2021-08-20 16:11] Kita2345 opened #269 "[Bug]App crash on downloading image by long pressing"
Go to https://dopiaza.org/tools/datauri/examples/index.php long press on the cat image see error

[2021-08-20 16:13] Kita2345 opened #270 "[Bug]Sometimes downloads are failing"
Tried to download Nina Warnapp as zip.
https://www.bbk.bund.de/DE/Warnung-Vorsorge/Warn-App-NINA/NINA-Download/nina-download_node.html

The file has about 30MB but download stops after a few MB and tells download complete.

[2021-08-21 01:29] #239 closed

[2021-08-21 13:00] #255 closed

[2021-08-24 15:55] lawson85 commented on #270
For me, for all downloads, clicking the notification fails to open the download, some still come in .bin format

[2021-08-24 16:54] lawson85 opened #271 "[Bug] URL tracking"
I have set SCW to prevent tracking parameters however, they are still showing.

### Describe the bug

I don't know how to describe so I have a screenshot

### To Reproduce
Steps to reproduce the behavior:
1. Go to '...' I must have searched too much and the page shows an error, which includes the link that was in my URL bar. It shows all the parameters. Alternatively, use Google search engine and

[2021-08-28 18:03] lawson85 commented on #271
Also, on LDPlayer Android 7.1.2, SCW 14.1 play store latest version shows this:
![image](https://user-images.githubusercontent.com/52282566/131226852-22ab5845-b5a3-4627-8dea-9d6fe64bd4de.png)

[2021-08-30 15:27] CookieJarApps commented on #271
When you say you have configured SCW to block tracking parameters, what settings do you mean that you have enabled?

[2021-08-30 23:22] lawson85 commented on #271
'Remove identifying HTTP headers' is set to on

[2021-09-01 16:04] urfausto opened #272 "[Bug] open apks"
with v14 opening any downloaded apk cause the app to shutdown or go in background. can't find v15 update from the store.

[2021-09-02 23:40] micwoj92 commented on #156
.

[2021-09-03 22:42] #177 closed

[2021-09-06 05:16] ShareASmile commented on #97
bump

[2021-09-08 05:35] #227 closed

[2021-09-09 07:42] lawson85 commented on #272
I have similar
 It takes me to download list from notification but the open button refuses to work. I just go through total commander instead

[2021-09-29 16:43] micwoj92 commented on #105
unstale

[2021-10-01 04:02] Kita2345 commented on #261
Unstale

[2021-10-01 04:04] Kita2345 commented on #239
Unstale

[2021-10-01 04:04] Kita2345 commented on #239
Reopen

[2021-10-02 14:24] sick13 opened #273 "[Bug] Login Information cannot be saved"
### Describe the bug

Logging in to a web site and exiting does not save the login cookies/info (not auto fill) on next browser start
### To Reproduce
Steps to reproduce the behavior:
1. Go to 'Login to a web site (all the relevant options have been Enabled/Disable Accept cookies Enabled,and Clear Cookies Disabled'
2. 'Exit Browser'
3. Reopen the browser App and enter said web page trough bookmark

[2021-10-05 15:26] Raj9039852537 opened #274 "[Feature] Please consider adding "copy link" button to download dialog"
### Describe the feature you want
add a button to copy download URL instead of.directly downloading the file itself just like one available in via browser.

### Is your feature request related to a problem? Please describe.

### Additional context
It is helpful when you want to add URL to download manager or other apps.
![Screenshot_20211005-205429694 (1)](https://user-images.githubusercontent.com

[2021-10-08 10:06] rustforfuture commented on #244
unstale

[2021-10-12 10:02] lawson85 commented on #267
The update isn't on the play store

[2021-10-16 17:58] Slion commented on #97
This was fixed ages ago in [Fulguris](https://github.com/Slion/Fulguris). Possibly one of the first thing I fixed after forking from Lightning. It has to do with the layout definition and also the way the search bar animation is implemented, either or both I can't quite recall the details TBH.

[2021-10-18 17:42] Kita2345 commented on #264
Unstale

[2021-11-01 22:56] moriel5 commented on #265
To prevent this issue from being automatically closed, I shall bump it.
Is there any answer yet as to the userscript standards supported by SmartCookieWeb?

[2021-11-02 14:32] rustforfuture commented on #263
When you can block it, why sending opt out signal that make you more unique?🤔

[2021-11-02 20:40] Rustlang4Future opened #275 "[Feature] [UX] [Accessibility/Usability] May you please let us to increase text size more than its current maximum value?"
### Describe the feature you want

Hello

May you please if may increase font/text size option limit to more than what it supports currently? (More than 145%)

If you let us to increase text size to about 250-300 percent, it will be really great and help my eyes.

### Some Background info and use case for this

Currently SCW let user to increase text size to 145 percent.

I know this is big enough

[2021-11-02 22:36] Rustlang4Future opened #276 "[Feature] [UX] [Accessibility/Usability] May you please let us to change the behavior of one tap on a link?"
### Describe the feature you want

Hello

May you please let us to change the action of one tap on a link

So we can set it to open that link in background instead of current behavior of it?

---------

### Some Background info and use case

My request is if may please add an option and when we enable it, then when we tap on a link in a webpage, SCW open it in the background instead of opening it

[2021-11-04 23:46] Rustlang4Future opened #277 "[Bug] Certificate Info window won't shown completely"
### Describe the bug

Hello

The certificate info window won't shown completely.

This is probably because i set the system scaling and system text size of my device to maximum.

This is screenshot of it, as you see the end date of certificate won't show.

![Screenshot_20211105_003649_com cookiegames smartcookig~01](https://user-images.githubusercontent.com/49192003/140435104-51ed9317-d3dd-4c8e-ab

[2021-11-04 23:56] rustforfuture opened #278 "[Feature] please add an option to trim protocol and www from URL bar"
### Describe the feature you want

Please add an option to trim protocol and www from URL bar.

Like Firefox for android that by default do this.

But you can add it as an option in [Advanced menu > url box contents] and don't make it default so users won't be upset.

### Is your feature request related to a problem? Please describe.

No, but it will empty more space for useful parts of url.

Beca

[2021-11-05 01:49] rustforfuture commented on #236
You should disable "allow sites to open new windows" in advanced settings.

Or instead disable these:

- Request save data in general section of settings.
- request do not track in privacy settings
- remove identifying http headers in privacy settings
- if not fixed also disable amp to html (but probably this has nothing to do with that bug)

[2021-11-05 14:42] rustforfuture commented on #271
That option has nothing to do with removing this parameter and the "google.com/url/[your search results].

You can remove what you are talking about by going to general section of SCW settings, then tap on search engine, then scroll upper and you will see an "custom" above google. (see screenshot below)

![Screenshot_20211105_154000_com cookiegames smartcookif~01](https://user-images.githubusercon

[2021-11-05 14:48] rustforfuture commented on #267
This issue is fixed @Flashwalker

If you like, close this issue.

[2021-11-05 15:37] CookieJarApps commented on #276
Sure, I have some time this weekend so I will work on adding this feature and releasing another update.

[2021-11-05 15:38] CookieJarApps commented on #277
Sorry about the issue, I'll make sure that the certificate info is scrollable in the next SCW update.

[2021-11-05 18:48] rustforfuture commented on #276
I love you.
Thank you.
Really Thank you very much❤️

[2021-11-05 18:49] rustforfuture commented on #277
No problem, SCW is perfect.
Thank you very much.

[2021-11-05 18:57] rustforfuture commented on #273
I had same problem in some websites but i could fix it in some of them.

1. In one website i forced to disable clear cookies + clear webstorage

2. In another website, i forced to disable all clear options (clear cache + clear webstorage + clear cookies)

3. And in another website i forced to do all actions i did in number 2 + also disable "block third party cookies" option.

May be try these solu

[2021-11-05 19:03] rustforfuture commented on #266
One simple solution that i use is that you can clone smartcookieweb with appcloner free version (it let you to create one clone), then you disable JavaScript in it and use it.

And keep JavaScript enabled in the original smartcookieweb.

Then when you wanted to use those websites that require JavaScript to be enabled, you can just use original smartcookieweb.

And for reading articles and using we

[2021-11-05 19:09] rustforfuture commented on #266
And because SCW has these option that i marked it with circle in the screenshot below, this way of using is really easy and efficient.

You can easily tab on this option in three dot menu when one website didn't worked without JavaScript and select original SCW from there and after that, close it and you will switch back to your cloned version of SCW that has JavaScript disabled.

![140399470-0f0e

[2021-11-05 19:19] sick13 commented on #273
thx for the info but i think this should be unnecessary to get a app to save login info. for now i will wait for a new version and see what happens

[2021-11-06 11:11] CookieJarApps commented on #273
Do you have any of the 'clear data on app exit' privacy settings enabled?

[2021-11-06 11:37] sick13 commented on #273
just cache is selected,i tried restarting the phone,reinstalling the app etc. the weird thing  is that same happened with lightning browser,but once reinstalling that browser everything was ok,on that browser i always select to clear everything except cookies so i do not get logged out,on this one that does not work,no matter what is or is not selected.

[2021-11-06 17:05] Kita2345 commented on #257
Unstale

[2021-11-06 17:15] Blue2532 opened #279 "[Feature] Customize bottom of tabs drawer."
I think it would be nice if you let users customize the bottom of the tabs drawer by drag & drop items from main menu.

Thus users can add there the items they use the more.
It is useful when we are using one-hand operation mode on big screen phones and we don't want to take space from screen by using secondary navigation bar at the bottom of the screen.
Thanks in advance.

[2021-11-09 07:12] DionGanteng opened #280 "Videoview not resize when orientation change"
Fullscreen video view not resize when
![sserror](https://user-images.githubusercontent.com/90413637/140878404-01cf019f-7207-4c88-9e85-a3b751e8e9a1.png)
 change orientation

[2021-11-19 01:56] Kita2345 commented on #269
Unstale

[2021-11-25 10:41] Kita2345 commented on #270
Unstale

[2021-12-02 07:24] micwoj92 commented on #156
.

[2021-12-04 23:51] 0xRustlang opened #281 "[Bug] if SCW get a connection refused network error it replaces url of that tab with [data:text/html;charset=utf-8;base64,] after closing and opening SCW"
### Describe the bug

I use dns based adblockers.

Currently using this:
(May be it get needed for you to reproduce the issue)

`https://basic.rethinkdns.com/1:AAKAAA==`

If i open a link in an article in new tab and then tab couldn't load it because of connection refused error

(my dns will response blocked queries with 0.0.0.0 so browser will show a connection refused Error)

The SCW won't keep

[2021-12-05 09:47] lawson85 opened #282 "[Feature] Reopen closed tab"
### Describe the feature you want

### Is your feature request related to a problem? Please describe.

### Additional context

Chrome on Windows has a feature where you can unclose accidentally closed tabs and windows. It would be great to have it here on SCW

[2021-12-08 08:14] Kita2345 commented on #272
Unstale

[2021-12-20 00:58] lawson85 opened #283 "[Feature] Pull to refresh"
### Describe the feature you want

### Is your feature request related to a problem? Please describe.

Pull from near the top to refresh a webspage to make it easier than reaching for the refresh button.
### Additional context

[2021-12-28 18:02] micwoj92 commented on #105
unstale

[2021-12-29 15:58] lawson85 opened #284 "[Bug] Going back duplicates my history and crashes"
### Describe the bug
 Some websites don't allow me to go back. Instead the browser adds more than one entry of the site to history and prevents me going back.

### To Reproduce
Steps to reproduce the behavior:
1. Go to '...https://appcloner.blog/2016/08/07/execute-tasker-tasks/'
2. Press back
3. See it won't go back now head to SCW history from the ... menu
4. See error

### Expected behavior

Sho

[2021-12-29 15:59] lawson85 commented on #284
![Uploading Screenshot_20211229_151525_com.cookiegames.smartcookie.jpg…]()

[2021-12-29 16:10] lawson85 commented on #284
![Screenshot_20211229_151525_com cookiegames smartcookie](https://user-images.githubusercontent.com/52282566/147681772-fd99d895-484f-497b-a7ac-734c46bcb0cc.jpg)

[2022-01-02 13:25] Kita2345 commented on #261
Unstale

[2022-01-07 20:01] Lee245 commented on #239
This bug is still relevant.

[2022-01-07 20:03] Lee245 commented on #239
Any updates on this bug?

[2022-01-16 23:55] Kita2345 commented on #274
Unstale

[2022-01-16 23:56] Kita2345 commented on #97
Unstale

[2022-01-16 23:56] Kita2345 commented on #264
Unstale

[2022-01-16 23:56] Kita2345 commented on #251
Unstale

[2022-01-24 11:12] lawson85 opened #290 "[Bug] 16.1 tab titles are unreadable"
Tabs are purple on every page and the text is black so it's not readable

### Describe the bug

### To Reproduce
Steps to reproduce the behavior:
1. Go to any page
3. See error

### Expected behavior

Should be readable

### Screenshots

![Screenshot_20220124_111026_com cookiegames smartcookie](https://user-images.githubusercontent.com/52282566/150772488-0ffac764-c4f9-4d8c-9d06-3ce2d6701e11.jpg)

[2022-01-24 13:56] lawson85 opened #291 "[Bug] crash when clicking links"
Crashed

### Describe the bug

App crashes on certain links, opening the link in a new tab works. This has occurred over a number of versions of SCW.
### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://www.magicfreebiesuk.co.uk'
2. Click on 'Claim mine now' any of them
3. See error

### Expected behavior

Should take me to the other page in the same tab
### Screenshots

### Device

[2022-01-25 17:30] CookieJarApps commented on #290
Sorry about this - the addition of support for Monet wallpaper theming on Android 12 unexpectedly affected the background of the custom tab bar. I'll fix this ASAP.

[2022-01-25 17:50] CookieJarApps commented on #291
HI, could you try with "allow sites to open new windows" off in advanced settings?

[2022-01-26 12:43] lawson85 commented on #291
Yes. But then it won't go back and pressing history them crashes it

[2022-01-31 15:05] moriel5 commented on #265
Once again, I am forced to bump this issue to prevent it from being automatically closed.

Is there no one who can answer what userscript standards are supported by SmartCookieWeb?

[2022-01-31 18:31] CookieJarApps commented on #265
Hi! Sorry for the really late reply - SCW currently only supports the `@match`, `@include`, `@run-at` and `@grant` UserScript header attributes. `@resource` is supported in some circumstances. Unfortunately, WebView makes it very difficult to implement good UserScript support. This weekend, I'll specifically take a look at what's stopping this specific UserScript from running, but I'm also working

[2022-01-31 20:24] moriel5 commented on #265
Thanks, I tried taking a look at the code and documentation, however I wasn't able to figure out where to look (or in the docs, just couldn't find anything).

Don't worry about the late reply, I know what it is like when there isn't a lot of time. I just needed an answer I could forward to the MuseScore downloaded userscript devs, so they could look into whether the issue was on their or your end.

[2022-02-04 14:09] HamletDuFromage opened #292 "[Bug] about:config crashes the app"
### Describe the bug

Typing about:config in the url bar quickly changes into chrome://config/ and then crashes the app

### To Reproduce
Steps to reproduce the behavior:
1. Type about config in the address bar
2. Press enter
3. Crash ensues

### Expected behavior

Access to about:config

### Screenshots

https://user-images.githubusercontent.com/61667930/152542604-1941dd95-068c-4b47-ad4e-133cb7ec

[2022-02-04 14:14] HamletDuFromage commented on #292
Ahh, this is a webview based browser, that's why. I'm going to get the preview then, I thought they were the same. My apologies

[2022-02-04 14:14] #292 closed

[2022-02-04 14:52] Kita2345 commented on #278
Unstale

[2022-02-04 14:52] Kita2345 commented on #263
Unstale

[2022-02-04 14:53] Kita2345 commented on #277
Unstale

[2022-02-04 14:53] Kita2345 commented on #266
Unstale

[2022-02-04 14:54] Kita2345 commented on #271
Unstale

[2022-02-04 14:54] Kita2345 commented on #275
Unstale

[2022-02-04 14:54] Kita2345 commented on #276
Unstale

[2022-02-09 01:57] moriel5 commented on #284
I can confirm that on 16.2 (at least on the Razer Phone 2's stock Android 9 ROM), attempting to open the history page crashes SmartCookieWeb.

[2022-02-09 02:00] moriel5 commented on #292
I can confirm that any "about:" pages crashes SmartCookieWeb, with a short stall preceding the crash (no visible redirection though), at least with version 16.2 on the Razer Phone 2's stock Android 9 ROM.

[2022-02-09 02:08] moriel5 opened #294 "[Bug] Crash When Attempting to Add Userscripts With JavaScript Disabled"
Device: Razer Phone 2
OS: Stock Android 9 ROM
WebView: Google WebView 98.4758.87

I usually keep JavaScript disabled, and I had forgotten to enable it when attention to add a userscript (from GitHub, the official SmartCookieWeb scripts page no longer serves proper links, only redirecting to itself).

The result? A crash.

Expected Result: A JavaScript page without a prompt or a crash (if relying u

[2022-02-12 17:28] #279 closed

[2022-02-12 17:28] #257 closed

[2022-02-12 17:28] #273 closed

[2022-02-16 21:07] #280 closed

[2022-02-17 03:53] moriel5 commented on #284
16.3 (at least on Android 9 ok my Razer Phone 2) no longer crashes when opening the history page.

[2022-02-17 03:58] moriel5 commented on #294
On version 16.3, SmartCookieWeb no longer crashes when loading a userscript with JavaScript disabled, however with JavaScript enabled, it crashes when attempting to install the userscript.

[2022-02-17 06:24] Kita2345 commented on #269
Unstale

[2022-02-17 09:43] CookieJarApps commented on #294
I think I've found the issue, but first to check, does userscript installation work if you have more than 1 tab open?

[2022-02-17 12:37] moriel5 commented on #294
I'll check right now.

[2022-02-20 14:28] shom13 commented on #152
Any update on this? A widget makes it easier to seach from the homescreen. Would be very helpful if incorporared into the browser

[2022-03-04 13:15] ShareASmile commented on #270
.

[2022-03-06 11:48] micwoj92 commented on #156
.

[2022-03-13 20:03] #282 closed

[2022-03-31 23:35] micwoj92 commented on #105
unstale

[2022-04-02 08:32] #283 closed

[2022-04-03 11:10] charasche opened #296 "[Bug] Certificate warning and app freeze/crash"
### Describe the bug

When accessing various websites (e.g. spiegel.de, golem.de), the message initially appears that the connection to the website is not secure and that the certificate does not match the site domain. The error message then starts flickering and neither yes nor no can be clicked. After that, the app freezes or crashes.

### To Reproduce
Steps to reproduce the behavior:
1. Go to h

[2022-04-13 07:43] #261 closed

[2022-04-15 18:56] #290 closed

[2022-04-17 06:52] fracklaus commented on #251
unstale

[2022-04-19 15:44] gitaccount88 opened #297 "[Feature] [Ui] Option to Swap the position of Tabs and Bookmark icons place"
Currently the tabs icon is on the left side and no option to change its position to right side.
So and option to swap position of tabs and bookmarks icons would be nice, just like there is an option to swap to tabs and bookmark drawers.

Thanks.

[2022-04-24 07:04] #97 closed

[2022-04-24 07:04] #274 closed

[2022-04-24 07:04] #264 closed

[2022-05-05 01:26] #291 closed

[2022-05-07 07:54] Gamefire238 commented on #264
Unstale

[2022-05-31 02:21] #265 closed

[2022-06-04 05:37] ShareASmile commented on #270
.

[2022-06-10 20:34] #278 closed

[2022-06-10 20:34] #263 closed

[2022-06-10 20:34] #266 closed

[2022-06-10 20:34] #271 closed

[2022-06-10 20:34] #284 closed

[2022-06-10 20:34] #269 closed

[2022-06-10 20:34] #294 closed

[2022-06-11 19:18] micwoj92 commented on #156
.

[2022-06-12 17:27] a-pav opened #298 "[Bug] Make the currently active tab more distinct within the drawer while using AMOLED theme."
In Light and Dark themes it's easy to tell which one of the tabs shown in drawer is the active one, because of the contrast of its background compared to the rest of the drawer. But it's relatively harder to tell the active tab apart while using AMOLED theme, specially when brightness is set at low or lowest.

[2022-06-13 07:28] a-pav opened #299 "[Feature] Easier ways to create a new tab while "Showing tabs in drawer" setting is switched on."
### Describe the feature you want
When tabs are shown above the address bar, there's an ever present + button for creating a new tab whenever you like. But when "Showing tabs in drawer" is switched on, in order to create a new tab you have to first open the drawer (by pulling from the side of the screen or by tapping on the 'number of already opened tabs' next to the address bar) and then press th

[2022-06-19 00:32] #272 closed

[2022-06-23 15:55] CookieJarApps commented on #299
Hi, you can currently create a new tab by holding on the tab number.

[2022-06-24 14:06] moriel5 opened #300 "Microsoft Web Translator Discontinuation"
Well, Microsoft has kept their web translator around a month or so beyond the deadline, however it seems to have finally been taken offline, which breaks the Translator feature in SmartCookieWeb, since it just forwards it to the standard translation page, instead of the Web Translate page.

What should be done now?

The quickest thing would be to remove the feature getting the browser, however Goo

[2022-06-25 03:37] a-pav commented on #299
Hi, I didn't know that!
Seems you've already thought about the matter. Though to be honest, I would've prefered a bit shorter holding time. But it's good enough.
I guess you can close this issue.

[2022-07-10 06:48] micwoj92 commented on #105
unstale

[2022-07-11 13:24] User1l0 opened #301 "[Bug] Huge privacy issues"
WebRTC doesn't turn off and leaks your ip address.
You can't randomize or turn off the browser fingerprinting
SmartCookie even leaks the user agent info, Even if it's changed.

This apps privacy features needs to be fixed. Nothing functions normal as it should be.

[2022-07-16 12:48] CookieJarApps commented on #301
WebRTC is the main issue and the reason the setting is called "Enable WebRTC permission requests" and not "Enable WebRTC". This is a WebView issue and isn't something I can do anything about. The idea behind SmartCookieWeb-Preview is to give me more control over these sorts of things.

Using the settings, you can minimize sending some data to sites that are used for fingerprinting, but you'd be be

[2022-07-16 12:49] CookieJarApps commented on #300
Thanks for letting me know. I'm working on something based on Mozilla's offline translation add-on for SmartCookieWeb which should be available soon.

The Mozilla add-on should (in theory) work in SmartCookieWeb Preview, though - once I've worked on the SmartCookieWeb translator I'll look into why the add-on isn't working correctly on mobile.

[2022-07-18 18:19] WernerSmit911 opened #302 "Password Entry Fault"

[2022-07-18 18:43] CookieJarApps commented on #302
That is the app's response when an incorrect password is entered. Could you ensure that you are entering the correct password? Spaces before or after the password are considered part of the password.

[2022-07-19 08:05] WernerSmit911 commented on #302
Problem solved, thank you!

[2022-07-22 13:50] moriel5 commented on #300
Interesting, I'll test again next week with the recently released version and see whether it was merely due to using an old Gecko version.

By the way, would you happen to know why the version in the Play Store (I use Aurora Store for that, since I do not run Google's Play services, so I can see the size of the individual APK Splits without actually downloading them) is so heavy in comparison to t

[2022-08-13 01:58] Kita2345 commented on #296
.

[2022-08-13 02:03] Kita2345 opened #303 "[Bug] Ufile doesn't download and results in a html file instead of the download"
When I press download, it downloads a HTML file instead of the actual file that I want
I have some sample links here.

https://macapps.ufile.io/pfjlbgd5

[2022-09-19 10:34] Wjxfi opened #304 "[Bug] It doesn't work to load scripts from your site from any browser"
### To Reproduce
https://smartcookieweb.com/scripts/

When you click the button, it just teleports you to the top of the site

[2022-09-19 16:24] Wjxfi opened #305 "[Feature] Settings for javacript/cookie from the page"
Add in the toolbar: enable/disable javascript, enable/disable cookies

It's very inconvenient to go into settings and disable/enable cookies/javascript for just one site. It's better to do as I asked. It would work like this:
There would only be two buttons, each one toggling javascript/cookies to a different mode. If cookie/javascript is enabled it will turn it off. If cookies/javascript are off

[2022-09-19 16:28] Wjxfi opened #306 "[Bug]The app doesn't know how to work with picture links"
### Describe the bug
https://thesafety.us/en/why-we-made-own-check-ip-anonymity
When you go to 1 picture the application crashes

### To Reproduce
Click on the first picture from this site
https://thesafety.us/en/why-we-made-own-check-ip-anonymity

### Expected behavior
Go to site

[2022-09-19 16:29] Wjxfi opened #307 "."

[2022-09-20 00:33] OkyDooky opened #308 "[Feature] Save New Bookmarks in Currently Open Folder"
Currently, it is a bit of a pain to save bookmarks by manually typing out part of the folder name each time (I know "Preview" offers a selector). It seems intuitive to go into a folder and expect it to offer that auto-filled in the "Folder" section of the dialogue box for saving a new bookmark.
That way, I can simply navigate to the folder I want to save a new bookmark in and have it go right ther

[2022-09-20 00:54] OkyDooky opened #309 "[Bug] SCW Fails to Go to URL on First Try (Conditional)"
### Describe the bug
If I open SCW and then go to another app and back, it will load the current page instead of the link I tapped on or put into the URL/search bar. When I tap or input it again, it will load the desired page. This behavior resets every time I go back and forth between another app and SCW.

### To Reproduce
Steps to reproduce the behavior:
1. Open SCW (on any page)
2. Switch to an

[2022-09-24 19:58] Wjxfi opened #310 "[Bug] Absolutely no hiding web rtc ip"
For example, brave completely hides it. Your application does not.

This is a very serious security hole

[2022-09-29 00:41] Slion commented on #310
That's an issue with WebView.

[2022-09-29 01:09] Slion commented on #310
Brave does not use WebView. It uses Chromium directly.
See also: https://github.com/Slion/Fulguris/issues/247